doctype html
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
html
	head
		meta(name="charset" content="utf-8")
		meta(name="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="theme-color" content="blue")
		|<!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script> <![endif]-->
		title "Маленькое чудо" &ndash; частный детский сад в Новосибирске
		link(rel="stylesheet" href="css/bundle.min.css" media="all")
		link(rel="shortcut icon" href="favicon.ico")

	body
		.mfp-hide.modal#order
			.modal-close

			strong.modal-title Заполните форму
			p.modal-subtitle
				|и наш менеджер свяжется с Вами в течение 
				span 4 
				|минут

			form.modal-form(action="#")
				label.modal-label(for="callback-contact")
					input(type="text" name="callback-contact" placeholder="Как к Вам обращаться?")#callback-contact
				label.modal-label(for="callback-phone")
					input(type="tel" name="callback-phone" placeholder="Куда Вам перезвонить?")#callback-phone
				input(type="submit" value="Записаться")

		.mfp-hide.modal#price-order
			.modal-close

			strong.modal-title Спасибо за доверие!
			p.modal-subtitle
				|оставьте свои данные, <br>и наш менеджер свяжется с Вами в течение 
				span 4 
				|минут

			form.modal-form(action="#")
				label.modal-label(for="callback-contact")
					input(type="text" name="callback-contact" placeholder="Как к Вам обращаться?")#callback-contact
				label.modal-label(for="callback-phone")
					input(type="tel" name="callback-phone" placeholder="Куда Вам перезвонить?")#callback-phone
				input(type="submit" value="Записаться")

		.mfp-hide.modal#callback
			.modal-close

			strong.modal-title Закажите обратный звонок
			p.modal-subtitle
				|наш менеджер свяжется с Вами в течение 
				span 4 
				|минут

			form.modal-form(action="#")
				label.modal-label(for="callback-contact")
					input(type="text" name="callback-contact" placeholder="Как к Вам обращаться?")#callback-contact
				label.modal-label(for="callback-phone")
					input(type="tel" name="callback-phone" placeholder="Куда Вам перезвонить?")#callback-phone
				input(type="submit" value="Заказать")

		.mfp-hide.modal#answer
			.modal-close

			strong.modal-title Заполните форму
			p.modal-subtitle
				|и наш менеджер свяжется с Вами в течение 
				span 4 
				|минут, <br> расскажет о нашем садике и <br>
				span с удовольствием ответит на все волнующие Вас вопросы

			form.modal-form(action="#")
				label.modal-label(for="callback-contact")
					input(type="text" name="callback-contact" placeholder="Как к Вам обращаться?")#callback-contact
				label.modal-label(for="callback-phone")
					input(type="tel" name="callback-phone" placeholder="Куда Вам перезвонить?")#callback-phone
				input(type="submit" value="Спросить")

		.mfp-hide.modal.menu-modal#menu
			.modal-close

			strong.modal-title Пример нашего меню:
			img(src="img/photo-menu.png")

		.mfp-hide.modal.thanks-modal#thanks
			.modal-close

			strong.modal-title Спасибо за доверие!
			p.modal-subtitle
				|и наш менеджер свяжется с Вами в течение 
				span 4 
				|минут,
				small а мы уже ждем Вас в гости по адресам наших садиков:

			p.thanks-modal-addresses
				small г. Новосибирск
				|Войкова, 131 <br>Авиастроителей, 2/2 г

			span.thanks-close.thanks-modal-close Закрыть

		.mfp-hide.modal.thanks-modal.thanks-sale-modal#sale-thanks
			.modal-close

			strong.modal-title Спасибо за доверие!
			p.modal-subtitle
				|в знак нашей благодарности мы дарим вам
				strong скидку 5000Р
				|на первый месяц развития в нашем садике

			p.thanks-modal-coupon Чтобы воспользоваться скидкой, сообщите нам кодовое слово:
				strong “калейдоскоп 5”
			
			small.thanks-modal-phone Наш телефон:
			a.thanks-modal-close(href="tel:8923") 292-51-38

		.mfp-hide.modal.team-modal#team-1
			span.modal-team-close
			strong.modal-team-title Мельникова <br>Галина Леонидовна
			p.modal-team-text Опыт работы в педагогической <br>деятельности с 2008 года. <br>Знаю методики раннего развития детей. <br>Обладаю организаторскими способностями. <br>Умею заинтересовать и увлечь детей. <br>Учитываю в работе особенности частного <br>детского сада. <br>Люблю работать с «трудными» <br>ребятишками 

		.mfp-hide.modal.team-modal#team-2
			span.modal-team-close
			strong.modal-team-title Костромина <br>Наталья Владимировна
			p.modal-team-text Опыт работы в педагогической <br>деятельности с 2008 года. <br>Знаю методики раннего развития детей. <br>Обладаю организаторскими способностями. <br>Умею заинтересовать и увлечь детей. <br>Учитываю в работе особенности частного <br>детского сада. <br>Люблю работать с «трудными» <br>ребятишками 

		.mfp-hide.modal.team-modal#team-3
			span.modal-team-close
			strong.modal-team-title Трофимова <br>Лариса Александровна
			p.modal-team-text Мой педагогический опыт уже приближается <br>к отметке в 30 лет. Но за время работы <br>я ни капли не растеряла любовь к ребятишкам. <br>Своими сильными сторонами считаю: <br>развивающие занятия (подготовка к школе); <br>преподавание основ ИЗО, ДПИ; <br>составление, оформление и <br>проведение праздников
		.mfp-hide.modal.team-modal#team-4
			span.modal-team-close
			strong.modal-team-title Огнева <br>Светлана Вячеславовна
			p.modal-team-text Воспитатель 1ой категрии. Стаж педагогической <br>деятельности 10 лет. С 2012 года работаю воспитателем <br>в младшей группе детского сада “Калейдоскоп”. <br>Придя к своим малышам, я поставила перед собой цель, чтобы <br>мои дети как можно быстрее и безболезненнее прошли период <br>адаптации. Я стараюсь установить контакт с каждым <br>ребенком, расположить его к себе, вызвать и <br>сохранить интерес к жизни в детском саду. <br>В своей работе применяю разнообразные <br>формы обучения: использование <br>наглядности, игровые, <br>сюрпризные моменты
		
		.mfp-hide.modal.files-modal#files
			span.modal-team-close
			.modal-files-slider
				img(src="img/files/1.png")
				img(src="img/files/2.png")
				img(src="img/files/3.png")
				img(src="img/files/4.png")
				img(src="img/files/5.png")
				img.modal-files-wide(src="img/files/6.png")

		header(role="banner")
			.container
				nav.header-menu
					ul
						li 
							a(href="#advantages") О нас
						li 
							a(href="#about") Наша жизнь
						li
							a(href="#clients") Отзывы
						li
							a(href="#team") Наши педагоги
						li
							a(href="#sale") Скидка 5000Р
						li
							a(href="#prices") Цены
				
				span.header-menu-burger
					span
					span
					span
						
				.header-callback
					a.header-callback-phone(href="tel:89232925138") 292-51-38
					a.header-callback-btn.popup(href="#callback") Заказать обратный звонок

		section.block.block-intro
			.container
				.intro-rockets
					img.rocket.rocket-1(src="img/rocket-1.png")
					img.rocket.rocket-2(src="img/rocket-2.png")
					img.rocket.rocket-3(src="img/rocket-3.png")
					img.rocket.rocket-4(src="img/rocket-4.png")
				
				.intro-clouds
					img.cloud.cloud-1(src="img/cloud-white.png")
					img.cloud.cloud-2(src="img/cloud-white.png")
					img.cloud.cloud-3(src="img/cloud-white.png")
					img.cloud.cloud-4(src="img/cloud-white.png")
					img.cloud.cloud-5(src="img/cloud-white.png")
					img.cloud.cloud-6(src="img/cloud-white.png")
					img.cloud.cloud-7(src="img/cloud-white.png")
					img.cloud.cloud-8(src="img/cloud-white.png")
					img.cloud.cloud-9(src="img/cloud-white.png")
					img.cloud.cloud-10(src="img/cloud-white.png")

				h1.intro-title Частный детский сад
				h2.intro-subtitle Маленькое чудо
				h3.intro-description помогает мамам спокойно ходить на работу, <br>пока их малыш под присмотром 
					span опытных&nbsp;педагогов

				.intro-cloud-text
					p
						span Раскрываем и развиваем 
						span таланты Вашего ребенка 
						span уже с раннего возраста
				
				img.intro-rocket-childs(src="img/rocket-childs.png")

				p.intro-cta-video
					span Убедитесь в этом сами! 
					|Посмотрите видео о нашем детском саде

				.intro-video
					a.intro-video-inner(href="https://www.youtube.com/watch?v=jsTAbQIbrHM")
						img.intro-video-frame(src="img/video-player-frame.png")

				.intro-cta
					strong.intro-cta-title Ведется набор в ясельные группы
					p.intro-cta-subtitle Количество свободных мест ограничено!
					a.intro-cta-btn.popup(href="#order") Записаться к нам на экскурсию
					small.intro-cta-tooltip Сегодня уже 7 человек записались к нам в гости

		section.block.block-advantages#advantages
			.container
				.intro-blue-clouds
					img.cloud.cloud-blue.cloud-blue-1(src="img/cloud-blue-1.png" data-bottom-top="transform: translateY(200px);" data-top="transform: translateY(-100px);")
					img.cloud.cloud-blue.cloud-blue-2(src="img/cloud-blue-2.png" data-bottom-top="transform: translateY(200px);" data-top="transform: translateY(-100px);")
					img.cloud.cloud-blue.cloud-blue-3(src="img/cloud-blue-3.png" data-bottom-top="transform: translateY(200px);" data-top="transform: translateYX(-100px);")
					img.cloud.cloud-blue.cloud-blue-4(src="img/cloud-blue-4.png" data-bottom-top="transform: translateY(200px);" data-top="transform: translateY(-100px);")
					img.cloud.cloud-blue.cloud-blue-5(src="img/cloud-blue-5.png" data-bottom-top="transform: translateY(200px);" data-top="transform: translateY(-100px);")

				h2.advantages-title Почему уже 
					span 723 мамы 
					|доверили нам своих <br>деток и остались 
					span довольны?

				.advantages-list
					.advantages-list-top
						.advantage-single
							img.advantage-single-icon(src="img/icon-safety-garrancy.png" alt="Гарантия безопасности")
							strong.advantage-single-title Гарантия <br>безопасности
							p.advantage-single-desc Гарантируем <br>безопасность <br>ребенка в саду и на <br>прогулке
						.advantage-single
							img.advantage-single-icon(src="img/icon-low-prices.png" alt="Низкие цены")
							strong.advantage-single-title Низкие <br>цены
							p.advantage-single-desc Цены на 23% ниже <br>рыночных, даже <br>среди обычных <br>детских садов
						.advantage-single
							img.advantage-single-icon(src="img/icon-expiried-teachers.png" alt="Опытные педагоги")
							strong.advantage-single-title Опытные <br>педагоги
							p.advantage-single-desc У нас работают <br>квалифицированные <br>педагоги с опытом <br>работы более 8 лет
						.advantage-single
							img.advantage-single-icon(src="img/icon-two-nursery.png" alt="2 садика в городе")
							strong.advantage-single-title 2 садика <br>в городе
							p.advantage-single-desc У нас 2 детских <br>центра <br>высочайшего <br>уровня

					.advantages-list-bottom
						.advantages-list-bottom-left
							.advantage-single
								img.advantage-single-icon(src="img/icon-healthy-eating.png" alt="Здоровое питание")
								strong.advantage-single-title Здоровое <br>питание
								p.advantage-single-desc В нашем саду <br>5-разовое <br>сертифицированное <br>питание.
									a.popup(href="#menu") Показать меню
							.advantage-single
								img.advantage-single-icon(src="img/icon-adaptation-help.png" alt="Помощь в адаптации")
								strong.advantage-single-title Помощь в <br>адаптации
								p.advantage-single-desc Продуманные <br>системы адаптации <br>ребенка к новому <br>окружению

						img.advantages-list-bottom-castle(src="img/advantages-castle.png")

						.advantages-list-bottom-right
							.advantage-single
								img.advantage-single-icon(src="img/icon-cashback.png" alt="Возврат денег")
								strong.advantage-single-title Возврат <br>денег
								p.advantage-single-desc Возвращаем <br>Вам деньги <br>за пропуски
							.advantage-single
								img.advantage-single-icon(src="img/icon-6-years.png" alt="Нам более 6 лет")
								strong.advantage-single-title Нам более <br>6 лет
								p.advantage-single-desc Уже более 6 лет <br>профессионально <br>развиваем Ваших <br>детишек
				
				.advantages-more
					strong.advantages-more-title ЭТО НЕВЕРОЯТНО! 
						span Но еще у нас:

					.advantages-more-list
						.advantage-more-single
							figure.advantage-more-single-icon
								img(src="img/icon-self-court.png" alt="Свой двор")
							strong.advantage-more-single-title Свой двор
							p.advantage-more-single-desc Один из наших садиков <br>базируется на коттедже, <br>имеет свой собственный <br>двор, защищенный от <br>посторонних надежной <br>оградой
						.advantage-more-single
							figure.advantage-more-single-icon
								img(src="img/icon-unique-program.png" alt="Уникальная программа")
							strong.advantage-more-single-title Уникальная <br>программа
							p.advantage-more-single-desc Разработали свою <br>уникальную образовательную <br>программу и используем ее <br>уже более 5 лет
						.advantage-more-single
							figure.advantage-more-single-icon
								img(src="img/icon-health-control.png" alt="Контроль за здоровьем")
							strong.advantage-more-single-title Контроль за <br>здоровьем
							p.advantage-more-single-desc Осуществляем контроль за <br>состоянием деток, у нас <br>отлаженная система по работе с <br>больными детьми и оборудование <br>по дезинфекции - снижаем риски <br>эпидемий и карантинов на 84%

			.advantages-bottom-bg

		section.block.block-sale#sale
			.container
				h2.sale-title Дарим скидки новым деткам!

				.sale-content
					.sale-content-title Оставьте заявку<br>прямо сейчас
						span и получите
						strong скидку 5.000Р
						small на первый месяц развития в нашем садике!
					form.sale-content-form(action="#" method="POST")
						input(type="text" name="contact" placeholder="Как к Вам обращаться?")
						input(type="tel" name="phone" placeholder="Куда нам перезвонить?")
						button.popup(type="submit" href="#sale-thanks") Получить скидку!

			.sale-counter
					p.sale-counter-title Поторопитесь! 
						span До конца действия акции осталось:

					.sale-counter-clock#counter-clock
						.sale-counter-clock-part.sale-counter-clock-days
							.sale-counter-clock-part-bg
							.sale-counter-clock-part-content
								p.sale-counter-clock-part-content-num.days-num 2
								p.sale-counter-clock-part-content-desc.days-desc Дня

						.sale-counter-clock-part.sale-counter-clock-hours
							.sale-counter-clock-part-bg
							.sale-counter-clock-part-content
								p.sale-counter-clock-part-content-num.hours-num 12
								p.sale-counter-clock-part-content-desc.hours-desc Часов

						.sale-counter-clock-part.sale-counter-clock-minutes
							.sale-counter-clock-part-bg
							.sale-counter-clock-part-content
								p.sale-counter-clock-part-content-num.minutes-num 45
								p.sale-counter-clock-part-content-desc.minutes-desc Минут

						.sale-counter-clock-part.sale-counter-clock-seconds
							.sale-counter-clock-part-bg
							.sale-counter-clock-part-content
								p.sale-counter-clock-part-content-num.seconds-num 60
								p.sale-counter-clock-part-content-desc.seconds-desc Секунд

					span.sale-counter-decor-1
					span.sale-counter-decor-2

		section.block.block-director
			.container
				.director-title Творческий руководитель нашего<br>садика - 
					span режиссер городского уровня!

				.director-content
					.director-content-photo
						img(src="img/photo-director.png" alt="Ломакина Елена Владимировна")

					.director-content-about
						h3.director-content-about-name Ломакина Елена Владимировна
						p.director-content-about-post Творческий руководитель "Маленькое чудо"
						article.director-content-about-speech
							blockquote Занятия театральным искусством в детском саду – это вступление в необычный, удивительный мир творчества уже с ранних лет. Основная задача, которую ставит перед собой наш коллектив – развивать художественны способности детей через восприятие образов, движение, и театрализованную деятельность.  Все эт дает нашим маленьким воспитанникам осознать связь искусства с окружающим миром и развить свою фантазию и способности. Строительство и обогащение внутреннего мира детей через искусство в игровой форме – основной принцип нашей работы. Их эмоции, восторженные глаза, интерес и маленькие открытия – самая лучшая награда для нас.

					img.director-content-signature(src="img/director-signature.png")
					a.director-content-btn.popup(href="#order") Записаться на занятия

		section.block.block-portfolio#portfolio
			.container
				.portfolio-rockets
					img.rocket.portfolio-rocket-1(src="img/rocket-1.png")
					img.rocket.portfolio-rocket-2(src="img/rocket-2.png")
					img.rocket.portfolio-rocket-3(src="img/rocket-3.png")
					img.rocket.portfolio-rocket-4(src="img/rocket-4.png")

				h2.intro-title.portfolio-title Мероприятия,
					span которые мы уже поставили
				h3.intro-subtitle.portfolio-subtitle Результаты наших воспитанников скажут все за нас

				.portfolio-slider
					.portfolio-slide-single
						.portfolio-slide-single-photos.intro-video
							.intro-video-inner
								.portfolio-slide-single-photos-slider
									img(src="img/portfolio/1-masked.png")
									img(src="img/portfolio/2-masked.png")
									img(src="img/portfolio/3-masked.png")
									img(src="img/portfolio/4-masked.png")

						article.portfolio-slide-single-info
							p.portfolio-slide-single-info-title День защиты детей
							p.portfolio-slide-single-info-text Встреча с любимыми героями из мультфильмов («Баба Капа», «Мила»), сюрпризы (мыльные пузыри, хлопушки), подарки, чаепитие с пирогом. Были выучены песни, где у каждого своя роль ( «Курочка», «Две лягушки вечерком» и другие), научили детей взаимодействию друг с другом, что поспособствовало их социализации. Развитие кинетических способностей детей, с помощью таких игр как: «мишка идет», «курочка защищает цыплят». Развитие музыкального слуха, с помощью знакомства с такими понятиями, как: «тихо-громко, «быстро – медленно». Это мы позже использовали в танцах. И в конце праздника: сладкие призы в золотой рыбке, которую поймали «мальчики - рыбаки». Такой праздник способствовал эмоциональному развитию детей и комфортному, интересному пребыванию деток в нашем саду.
					
					.portfolio-slide-single
						.portfolio-slide-single-photos.intro-video
							.intro-video-inner
								.portfolio-slide-single-photos-slider
									img(src="img/portfolio/5-masked.png")
									img(src="img/portfolio/6-masked.png")
									img(src="img/portfolio/7-masked.png")
									img(src="img/portfolio/8-masked.png")

						article.portfolio-slide-single-info
							p.portfolio-slide-single-info-title "Праздник папочек и мамочек"
							p.portfolio-slide-single-info-text Этот праздник способствует укреплению семейных отношений, воспитанию любви к родителям. На праздник приходил Лунтик. Он тоже хотел поздравить бабу Капу, но не знал, как сделать для неё подарок и детки  ему помогали. Выучив танцы: «Поварята», «Мамины защитники» дети научились помогать взрослым, что способствовало их социализации. Дети пели песни о маме, папе, дедушке и бабушке. Во время пения мы использовали шумовые инструменты, а так же детки научились одновременно стучать ложками по столу (поварята), ритмично гарцевать с надувными саблями (солдаты) и махать цветочками, все это способствовало развитию музыкального слуха и чувства ритма. А в конце праздника дети дарили мамам и папам подарки, сделанные своими руками, а Лунтик играл с ребятками в шары.

					.portfolio-slide-single
						.portfolio-slide-single-photos.intro-video
							.intro-video-inner
								.portfolio-slide-single-photos-slider
									img(src="img/portfolio/9-masked.png")
									img(src="img/portfolio/10-masked.png")
									img(src="img/portfolio/11-masked.png")
									img(src="img/portfolio/12-masked.png")

						article.portfolio-slide-single-info
							p.portfolio-slide-single-info-title Новый год
							p.portfolio-slide-single-info-text Знакомство с праздником Новый год происходило в форме сказки, где сами детки играли роли зайчиков, лисы, птичек, ёлочек. Дети сопереживали зайчику, которого выгнала лиса и узнали разные модели поведения, что способствовало эмоциональному и творческому развитию детей.  Мы разучили  новогодние песни, танцы и ритмичные движения под музыку со словами, раскрыв музыкальные и умственные способности. Так, отправляясь на помощь зайчику, мы спели  песню:  «По следам бременских музыкантов». По такому же принципу разучивались танцы: «Снежинок», «Хлопушек», «Зайчиков» и другие. Зайцы одновременно стучали в гигантский барабан, приговаривая «Тук-тук». Принцип ритмо-слогов безусловно способствовал развитию речи, что особенно важно для детей ясельного возраста. Встреча с дедом Морозом, Снегурочкой и подарки способствовали созданию хорошего настроения у детей.

		section.block.block-about#about
			.container
				h2.about-title Наша жизнь:

			.about-slider
				.about-slider-blind-left
				.about-slider-blind-right

				.about-slider-slides
					- for (var i = 1; i <= 20; i++) {
					.about-slide-single
						img(src="img/about/" + i + ".jpg")
					- }
		section.block.block-clients#clients
			.container
				h2.clients-title
					span Как отзываются 
					|о нашем уникальном детском<br>саде родители, чьи дети 
					span уже ходят к нам

				.clients-photos-slider
					img.client-photo-slide-single(src="img/clients/10.png")
					img.client-photo-slide-single(src="img/clients/9.png")
					img.client-photo-slide-single(src="img/clients/8.png")
					img.client-photo-slide-single(src="img/clients/7.png")
					img.client-photo-slide-single(src="img/clients/6.png")
					img.client-photo-slide-single(src="img/clients/5.png")
					img.client-photo-slide-single(src="img/clients/4.png")
					img.client-photo-slide-single(src="img/clients/3.png")
					img.client-photo-slide-single(src="img/clients/2.png")
					img.client-photo-slide-single(src="img/clients/1.png")

				.clients-slider
					.clients-slide-single
						.clients-slide-single-name Савченко Алеся Александровна
						article.clients-slide-single-text
							p
								|Когда искала сад, нужно было катастрофически быстро принять решение, т.к. нужно было срочно выходить на работу. Выбирала из частных, но везде слишком мало информации, все непримечательное, воспитатели сомнительные. А деньги нужно платить, хоть они и небольшие, но я ращу ребенка одна. Этот сад был самым внушающим доверие из всех. Как оказалось, это был правильный выбор. Доча счастлива, а я спокойно иду на работу каждое утро. Это самое главное.

					.clients-slide-single
						.clients-slide-single-name Слохина Валентина Семеновна 
						article.clients-slide-single-text
							p
								|Об этом саде узнала случайно, когда он только открылся. Решила сходить и разузнать что да как. Наш Костя ходил в другой около дома, но мы слишком часто болели. Это настораживало, как минимум. Все на нервах. Меня очень тепло встретили, все рассказали и показали.  Сам сад находится в панельном доме. Есть еще филиал в коттедже, но нам было неудобно забирать оттуда. Обустроено все очень комфортно, видно, что люди вкладывали душу. Решили попробовать ходить сюда и остались. Теперь если захотим второго, то тоже сюда отдадим.

					.clients-slide-single
						.clients-slide-single-name Зотова Анна Павловна
						article.clients-slide-single-text
							p
								|Калейдоскоп мне посоветовала близкая подруга. Я доверилась и не пожалела ни капли. Наши дочки сами между собой дружат, а теперь еще и в одном саду. Расположение очень удобное, муж забирает Настю по пути со смены. Понравилось еще, что хорошо кормят, у нас есть аллергия на многие продукты, это учли. Все эти творческие постановки тоже очень нравятся, в наше время все было по-другому. Детей любят - это чувствуется сразу, очень приятная атмосфера. Всем очень довольны, спасибо! 

					.clients-slide-single
						.clients-slide-single-name Мальцева Вера Григорьевна
						article.clients-slide-single-text
							p
								|Сад чудесный. Я сама педагог, преподаю музыку. Как только познакомилась с воспитателями, сразу решила, что внучку отдадим только сюда. Многие не придают этому значение, но когда люди настолько преданы своей работе – это призвание. Все, кто здесь работают, любят детей и относятся к ним как к своим. Это ни за какие деньги не купишь. Все остальное в виде питания, уюта и игр – отличное ко всему приложение. Мы с дочерью можем спокойно заниматься своими делами, зная, что с нашей девочкой все в порядке.

					.clients-slide-single
						.clients-slide-single-name Афимогенова Светлана Юрьевна
						article.clients-slide-single-text
							p
								|Был неудачный опыт с частными детскими садами, поэтому шла знакомиться с Калейдоскопом с некоторой опаской. На деле все оказалось настолько профессионально организовано, я даже не ожидала подобного. Развивающая программа, творческие занятия, полезное питание – все действительно делается с душой и любовью. Я точно знаю, за что плачу деньги, и дочка всегда радостная, мастерит поделки и дарит их мне. Раньше садик был для нас травматичным опытом со слезами и криками, каждое утро концерт и истерики. Сейчас ходим без проблем. Один раз я даже решила заглянуть в группу во время обеда, проверить, и случайно попала на занятие с режиссером садика. Теперь я спокойна, что мой ребенок в надежных руках

					.clients-slide-single
						.clients-slide-single-name Комарова Арина Сергеевна
						article.clients-slide-single-text 
							p
								|Когда попросили прислать свой отзыв, я сразу откликнулась. Отдельное спасибо я хотела бы сказать режиссеру садика – мы теперь знаем столько стихотворений, столько разных ролей отыграли, столько веселых песенок спели... Просто супер! Развитие, социализация и надежный присмотр – все это мы получили от садика Калейдоскоп и очень благодарны. Было приятно и особенно понравилось, что, когда у меня были отгулы, и мы не шли в садик, нам возвращали деньги за эти дни. С радостью ходим в садик и ни о чем не жалеем! Спасибо!

					.clients-slide-single
						.clients-slide-single-name Малышева Марина Викторовна
						article.clients-slide-single-text
							p
								|Доверие вызвало обилие информации о садике, реклама, хороший информативный сайт. На деле все оказалось еще лучше, даже, чем я ожидала. Мои два первых сына ходили в обычный садик, мы еще тогда в Новосибирске не жили. Здесь же – все по-другому. Группы маленькие, всем детям уделяют равное внимание, особенно на прогулках, территория коттеджа окружена надежным забором. Пятиразовое питание чего только стоит и все такое сытное и полезное. Я до сих пор благодарна коллеге, которая подсказала мне ссылку на сайт Калейдоскопа.

					.clients-slide-single
						.clients-slide-single-name Гольцнер Вероника Андреевна
						article.clients-slide-single-text
							p
								|У моей Лизы не очень крепкое здоровье, поэтому, когда пришло время отдавать ее в садик, я искала частные варианты с небольшими группами. В Калейдоскопе я могу быть уверена, что все, чем ее кормят – сертифицировано. Всегда есть меню, с которым можно ознакомиться.  Все детки здоровые в группе, никто не болеет – за этим хорошо смотрят, регулярно включают дезинфекционное оборудование.  Воспитатели – профессионалы с большим опытом. Приятно, что и развивающая программа именно с театральным уклоном. У нас вся семья творческая. Того, что дают детям здесь, нет ни в одном муниципальном детском саде, это точно.

					.clients-slide-single
						.clients-slide-single-name Конкина Анастасия Дмитриевна
						article.clients-slide-single-text
							p
								|Выбрала этот сад, потому что он с творческим уклоном. Сейчас очень сложно найти развивающие программы за приемлемые деньги в городе. Поэтому я просто счастлива, что мы попали в группу. Покорило и то, что сам сад находится в коттедже с зеленой территорией. Дети здесь гуляют, дышат свежим воздухом, играют. Все воспитатели – опытные приятные женщины, всегда приветливые. Оставляя сына здесь, я знаю, что могу ни о чем не беспокоиться, как и все мамы, с которыми мы уже сдружились и плотно общаемся. В саду всего две группы, так что все под присмотром. Нам повезло. Спасибо вам за ваш труд и заботу!

					.clients-slide-single
						.clients-slide-single-name Ярцева Инна Валерьевна
						article.clients-slide-single-text
							p
								|Ходим в Калейдоскоп уже второй год без каких-либо проблем. Я начала снова работать  практически сразу после родов, сначала помогала свекровь, но потом пришло время выбирать сад. Для меня было важно увидеть компетентность воспитателей и комфортные условия, чистоту и порядок. И то, и то себя оправдало, даже удивительно, что цена за все это такая доступная – 13 000 рублей. Выбирала между двумя филиалами, остановилась на том, что на ул. Авиастроителей. Дочке здесь понравилось, тем более что в саду всего одна группа и есть программа адаптации малышей, сразу появились первые друзья. Она довольна и не капризничает по утрам, когда идем в сад, а я могу сосредоточиться на работе в течение всего дня и не думать о том, как она.

		section.block.block-sale2
			.container
				h2.sale2-title Специальное предложение до декабря!

				.sale2-content
					.sale2-content-cta
						img.sale2-content-cta-img(src="img/sale2-cta.png")
						p.sale2-content-cta-title А ты уже <br>записался к нам?
							small Артем, 3 года

					.sale2-content-text
						p.sale2-content-text-offer Приведите в наш в садик<br>ребенка своего друга и...
							strong
								span Платите меньше,
								|Пока он ходит к нам!

						ul.sale2-content-text-terms
							li
								|Экономьте 
								span 1.500 Р
								|  каждый месяц
								small за одного приведенного ребенка
							li
								|Экономьте 
								span 2.500 Р
								|  каждый месяц
								small за двоих приведенных детей
							li
								|Экономьте 
								span 3.000 Р
								|  каждый месяц
								small за трех приведенных детей

				a.intro-cta-btn.sale2-btn.popup(href="#order") Записать ребенка в садик

		section.block.block-team#team
			.container
				h2.team-title У нас работает только 
					span высоко<wbr>квалифици<wbr>рованный персонал,
					|убедитесь в этом сами

				.team-slider
					.team-slide-single
						figure.team-slide-single-photo
							img(src="img/team/1.png")
						.team-slide-single-info
							p.team-slide-single-info-name Мельникова Г. Л.
							p.team-slide-single-info-line Воспитатель
							p.team-slide-single-info-line Опыт работы: 8 лет
							a.team-slide-single-info-btn.popup(href="#team-1") Познакомиться поближе

					.team-slide-single
						figure.team-slide-single-photo
							img(src="img/team/2.png")
						.team-slide-single-info
							p.team-slide-single-info-name Костромина Н. В.
							p.team-slide-single-info-line Старший воспитатель
							p.team-slide-single-info-line Опыт работы: 10 лет
							a.team-slide-single-info-btn.popup(href="#team-2") Познакомиться поближе

					.team-slide-single
						figure.team-slide-single-photo
							img(src="img/team/3.png")
						.team-slide-single-info
							p.team-slide-single-info-name Трофимова Л. А.
							p.team-slide-single-info-line Воспитатель - педагог
							p.team-slide-single-info-line Опыт работы: 29 лет
							a.team-slide-single-info-btn.popup(href="#team-3") Познакомиться поближе

					.team-slide-single
						figure.team-slide-single-photo
							img(src="img/team/4.png")
						.team-slide-single-info
							p.team-slide-single-info-name Огнева С. В.
							p.team-slide-single-info-line Воспитатель
							p.team-slide-single-info-line Опыт работы: 10 лет
							a.team-slide-single-info-btn.popup(href="#team-4") Познакомиться поближе

					.team-slide-single
						figure.team-slide-single-photo
							img(src="img/team/5.png")
						.team-slide-single-info
							p.team-slide-single-info-name Титоренко В. С.
							p.team-slide-single-info-line Повар
							p.team-slide-single-info-line Опыт работы: 6 лет

				.team-files
					h2.team-files-title
						small Посмотрите
						span наши <br>сертификаты, <br>грамоты и <br>дипломы
						small как
						strong показатель <br>высочайшего <br>качества

					.team-files-row.team-files-row-top
						.team-file-single
							a.team-file-single-info.popup(href="#files" data-index=0)
								.team-file-single-info-inner
									strong.team-file-single-info-title Диплом одного из наших садиков
							img.team-file-single-img(src="img/files/1-masked.png")
						.team-file-single
							a.team-file-single-info.popup(href="#files" data-index=1)
								.team-file-single-info-inner
									strong.team-file-single-info-title Наш воспитатель - "Воспитатель года"
							img.team-file-single-img(src="img/files/2-masked.png")

					.team-files-row.team-files-row-bottom
						.team-file-single
							a.team-file-single-info.popup(href="#files" data-index=2)
								.team-file-single-info-inner
									strong.team-file-single-info-title Свидетельство о государственной регистрации
							img.team-file-single-img(src="img/files/3-masked.png")
						.team-file-single
							a.team-file-single-info.popup(href="#files" data-index=3)
								.team-file-single-info-inner
									strong.team-file-single-info-title Благодарность нашему творческому руководителю
							img.team-file-single-img(src="img/files/4-masked.png")
						.team-file-single
							a.team-file-single-info.popup(href="#files" data-index=4)
								.team-file-single-info-inner
									strong.team-file-single-info-title Благодарственное письмо
							img.team-file-single-img(src="img/files/5-masked.png")
						.team-file-single
							a.team-file-single-info.popup(href="#files" data-index=5)
								.team-file-single-info-inner
									strong.team-file-single-info-title Сертификат логопеда
							img.team-file-single-img(src="img/files/6-masked.png")

		section.block.block-advantages2
			.container
				h2.advantages2-title Всего за 1 год с нами <br>Ваш ребенок:

				.advantages2-list
					.advantages2-single
						span.advantages2-single-number.advantages2-single-number-1 0
						p.advantages2-single-desc Стихотворения выучит
					.advantages2-single
						span.advantages2-single-number.advantages2-single-number-2 0
						p.advantages2-single-desc Сценок отыграет в <br>разнообразных ролях
					.advantages2-single
						span.advantages2-single-number.advantages2-single-number-3 0
						p.advantages2-single-desc Килограмм витаминов <br>скушает
		
		section.block.block-faq
			.container
				h2.faq-title 
					|Прочитайте наши ответы на
					span наиболее волнительные вопросы,
					|которые возникают у родителей

				p.faq-subtitle
					span Развитие ребенка - сложный процесс,
					span к которому нужно подходить основательно

				.faq-list
					.faq-single
						.faq-single-question
							p.faq-single-question-text Возвращаются ли деньги за пропуски, если ребенок болеет и не ходит?
							span.faq-single-question-switcher развернуть ответ
						article.faq-single-answer
							span Наш ответ: 
							|да, мы возвращаем средства за непосещение сада, как по справке, так и без нее, например, если у Вас выдался выходной и Вы решили провести день с ребенком. Возвращение денег происходит согласно выбранному варианту посещения садика: «Все включено» - возвращаем за пропуски: 70р за день без справки, 250р за день со справкой; «Все включено+» - возвращаем за пропуски: 750р за день без справки, 750р за день со справкой. Сумма возврата переходит на следующую оплату или отдается на руки клиенту, когда его ребенок выбывает из центра.
					.faq-single
						.faq-single-question
							p.faq-single-question-text Вдруг ребенок будет часто болеть, и я не смогу работать?
							span.faq-single-question-switcher развернуть ответ
						article.faq-single-answer
							span Наш ответ: 
							|мы очень внимательно следим за здоровьем наших деток. Используем собственную, уже отлаженную систему по работе с больными детьми и оборудование по дезинфекции. Таким образом мы снизили риски эпидемий и карантинов на 84%, а это значит, что Ваш малыш более надежно защищен, а Вы можете спокойно отправляться на работу
					.faq-single
						.faq-single-question
							p.faq-single-question-text Как мой ребенок вольется в новый коллектив?
							span.faq-single-question-switcher развернуть ответ
						article.faq-single-answer
							span Наш ответ: 
							|в наших садах работают опытные высококвалифицированные педагоги, которые найдут подход к каждому ребенку, так же в своей работе мы используем уже проверенные, продуманные системы адаптации ребенка к новому окружению. Поэтому каждый малыш в нашем садике ощущает себя комфортно. 
					.faq-single
						.faq-single-question
							p.faq-single-question-text Какие цены на посещение детского сада "Маленькое чудо"?
							span.faq-single-question-switcher развернуть ответ
						article.faq-single-answer
							span Наш ответ: 
							|путем проб и ошибок мы нащупали 3 наиболее удобных варианта сотрудничества. Первый подразумевает собой «Все включено», стоимость которого равна 13.000 рублей в месяц. Второй – «Все включено+» - 16.500 рублей в месяц. И третий вариант – это индивидуальный подход, стоимость каждого рассчитывается исходя из ваших пожеланий. Подробнее о вариантах сотрудничества с нами Вы можете почитать в блоке <a href="#prices">«Цены»</a>.

				a.faq-btn.popup(href="#answer") Задать свой вопрос

		section.block.block-prices#prices
			.container
				.prices-baloons
					img.baloon.baloon-1(src="img/baloon-1.png")
					img.baloon.baloon-2(src="img/baloon-2.png")

				h2.prices-title
					|Цены на посещение
					span детского сада "Маленькое чудо"

				.prices-list
					.price-single
						strong.price-single-sum 13.000
						p.price-single-title Все включено
						.price-single-info
							.price-single-info-inner
								ul.price-single-info-list
									li
										img.price-single-info-icon(src="img/icon-schedule.png" alt="Расписание посещения")
										p.price-single-info-desc С 7 до 19
									li
										img.price-single-info-icon(src="img/icon-eating.png" alt="Питание")
										p.price-single-info-desc Пяти<wbr>разовое питание
									li
										img.price-single-info-icon(src="img/icon-training.png" alt="Развивающие занятия")
										p.price-single-info-desc Раз<wbr>вивающие занятия
									li
										img.price-single-info-icon(src="img/icon-walking.png" alt="Прогулка")
										p.price-single-info-desc Прогулка
									li
										img.price-single-info-icon(src="img/icon-sleep.png" alt="Сон")
										p.price-single-info-desc Сон
									li
										img.price-single-info-icon(src="img/icon-scene.png" alt="Сценические занятия")
										p.price-single-info-desc Сцени<wbr>ческие занятия
									li
										img.price-single-info-icon(src="img/icon-speech.png" alt="Логопедические занятия")
										p.price-single-info-desc Лого<wbr>педические занятия
									li
										img.price-single-info-icon(src="img/icon-money.png" alt="Возврат за пропуски")
										p.price-single-info-desc Возврат за пропуски
											small 70р за день без справки,
											small 250р за день со справкой
							a.price-single-info-btn.popup(href="#price-order") Записаться

					.price-single
						strong.price-single-sum 16.500
						p.price-single-title Все включено+
						.price-single-info.price-single-info-highlight
							.price-single-info-inner
								ul.price-single-info-list
									li
										img.price-single-info-icon(src="img/icon-schedule.png" alt="Расписание посещения")
										p.price-single-info-desc С 7 до 19
									li
										img.price-single-info-icon(src="img/icon-eating.png" alt="Питание")
										p.price-single-info-desc Пяти<wbr>разовое питание
									li
										img.price-single-info-icon(src="img/icon-training.png" alt="Развивающие занятия")
										p.price-single-info-desc Раз<wbr>вивающие занятия
									li
										img.price-single-info-icon(src="img/icon-walking.png" alt="Прогулка")
										p.price-single-info-desc 2 прогулки в день
									li
										img.price-single-info-icon(src="img/icon-sleep.png" alt="Сон")
										p.price-single-info-desc Сон
									li
										img.price-single-info-icon(src="img/icon-scene.png" alt="Сценические занятия")
										p.price-single-info-desc Сцени<wbr>ческие занятия
									li
										img.price-single-info-icon(src="img/icon-speech.png" alt="Логопедические занятия")
										p.price-single-info-desc Лого<wbr>педические занятия
									li
										img.price-single-info-icon(src="img/icon-money-white.png" alt="Возврат за пропуски")
										p.price-single-info-desc Возврат за пропуски
											small 750р за день без справки,
											small 750р за день со справкой
							a.price-single-info-btn.popup(href="#price-order") Записаться

					.price-single.price-single-individual
						strong.price-single-sum X.XXX
						p.price-single-title Индивидуальный вариант
						.price-single-info
							.price-single-info-inner
								p Обсуждается лично
								p Вы можете составить <br>свой график посещений <br>по дням и часам, <br>указать любые пожелания:
								figure
									img.price-single-info-icon(src="img/icon-schedule.png" alt="Расписание посещения")
									img.price-single-info-icon(src="img/icon-eating.png" alt="Питание")
									img.price-single-info-icon(src="img/icon-training.png" alt="Развивающие занятия")
									img.price-single-info-icon(src="img/icon-walking.png" alt="Прогулка")
									img.price-single-info-icon(src="img/icon-sleep.png" alt="Сон")
									img.price-single-info-icon(src="img/icon-scene.png" alt="Сценические занятия")
									img.price-single-info-icon(src="img/icon-speech.png" alt="Логопедические занятия")
									img.price-single-info-icon(src="img/icon-money.png" alt="Возврат за пропуски")
								
							a.price-single-info-btn.popup(href="#price-order") Хочу обсудить

		section.block.block-contacts
			.container
				.contacts-left
					h2.contacts-title Хотите пообщаться <br>с нами лично?

					.contacts-list
						a.contacts-phone(href="tel:2925138") 292-51-38
						a.contacts-email(href="mailto:sad@info.ru") sad@info.ru

					p.contacts-text Позвоните или <br>напишите нам:

					.contacts-callback
						p.contacts-callback-text или закажите обратный звонок, <br>и мы свяжемся с Вами <br>в течение 7 минут
						a.contacts-callback-btn.popup(href="#callback") Заказать звонок

					.contacts-addresses
						h4.contacts-addresses-title Адреса наших садиков:
							small г. Новосибирск
						address.contacts-addresses-content
							span Войкова, 131
							img(src="img/icon-contacts.png", alt="Адреса наших садиков")
							span Авиастроителей, 2/2 г

						nav.contacts-addresses-social
							a(href="http://instagram.com" target="_blank")
								img(src="img/icon-instagram.png", alt="Инстаграм")
							a(href="http://vk.com" target="_blank")
								img(src="img/icon-vk.png", alt="Вконтакте")

				.contacts-map
					p.contacts-map-title Ждем Вас по адресам <br>наших садиков:

					.contacts-map-container#map-container
						.contacts-map-container-title Заходите к нам <br>в гости!
		
		script(src="https://code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous")
		script(src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU&amp;")
		script(src="js/bundle.min.js")