@media screen and (max-width: 1200px) {

	.container {
		width: 980px;
	}

	.header-menu li {
		padding: 0 2.5px;
		font-size: 20px;
		letter-spacing: 0;
	}

	.header-menu a {
		padding: 2px 5px;
	}

	.intro-description {
		font-size: 34px;
	}

	.intro-description br,
	.advantage-single-desc br,
	.advantage-more-single-desc br,
	.clients-slide-single-text br,
	.clients-title-b br {
		display: none;
	}

	.intro-cloud-text {
		margin-left: 0;
	}

	.intro-rocket-childs {
		margin-right: -100px;
	}

	.intro-cta-video {
		margin-left: 0;
	}

	.advantage-single {
		width: 240px;
		padding: 0 10px;
	}

	.advantages-more {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding: 80px 15px 45px;
		background-size: 100% 100%;
	}

	.advantage-more-single-desc {
		padding: 0 10px;
		font-size: 22px;
		line-height: 22px;
		letter-spacing: 0;
	}

	.director-content {
		width: 100%;
		height: auto;
		margin-right: 0;
		background-size: 100% auto;
	}

	.director-content-photo,
	.director-content-photo img {
		width: 200px;
		height: 200px;
	}

	.director-content-photo {
		top: 0;
		left: 0;
	}

	.director-content-about {
		padding-left: 250px;
		padding-right: 50px;
	}

	.director-content-about-speech {
		margin-left: -50px;
	}

	.director-content-signature {
		margin-right: 50px;
	}

	.director-content-btn {
		position: static;
	}

	.portfolio-subtitle:after {
		bottom: -65px;
	}

	.portfolio-slide-single-photos,
	.portfolio-slide-single-photos .intro-video-inner {
		width: 450px;
		height: 260px;
	}

	.portfolio-slide-single-info {
		width: 570px;
		height: 370px;
		padding-left: 60px;
		padding-right: 20px;
	}

	.about-slide-single.slick-center {
		width: auto !important;
	}

	.about-slider-blind-left, .about-slider-blind-right {
		display: none;
	}

	.about-arrow-prev {
		left: 10px;
		transform: translate(0, -50%);
	}
	.about-arrow-next {
		left: inherit;
		right: 10px;
		transform: translate(0, -50%) scale(-1, 1);
	}

	.sale2-content-cta {
		width: 450px;
	}

	.sale2-content-cta img {
		width: 100%;
	}

	.block-team {
		min-height: 0;
		padding-bottom: 170px;
	}

	.sale2-title {
		padding-bottom: 65px;
		font-size: 46px;
	}
	
	.sale2-content {
		margin-top: 0;
	}

	.sale2-content-cta-title {
		background-size: 100% 100%;
	}

	.sale2-content-cta-img {
		margin-left: 0;
	}

	.team-files-title:after {
		width: 980px;
	}

	.team-files-row-top {
		width: 675px;
	}

	.team-files-row-bottom {
		padding: 0 35px;
	}

	.team-file-single {
		width: 160px;
		height: 160px;
	}

	.team-file-single-info-title {
		font-size: 20px;
	}

	.faq-subtitle {
		padding-left: 40px;
		padding-right: 0;
	}

	.faq-subtitle span:last-child {
		padding-left: 45px;
	}

	.prices-list {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.price-single {
		height: 650px;
		margin: 0 5px;
	}
	.price-single-individual {
		height: 520px;
	}

	.price-single-info {
		padding: 0;
	}

	.price-single-info-list li {
		margin-bottom: 15px;
		padding-left: 15px;
	}

	.block-contacts {
		min-height: 0;
		padding-bottom: 50px;
	}

	.contacts-title {
		padding-top: 20px;
		padding-right: 25px;
		font-size: 38px;
		background-size: 100% 100%;
	}

	.contacts-title:before {
		width: calc((100vw - 980px) / 2);
	}

	.contacts-title:after {
		content: none;
	} 

	.contacts-text {
		margin-left: 0;
	}

	.contacts-callback {
		margin-right: 50px;
	}

	.contacts-map {
		width: 500px;
		margin-left: auto;
		margin-right: 0;
	}

	.contacts-map-container {
		width: 500px;
		height: 500px;
	}

	.contacts-map-container-title {
		width: 100%;
		left: 0;
		background-size: 100% 100%;
	}

	.contacts-addresses {
		margin-left: 0;
	}

	// hide decor elements
	.intro-rockets,
	.portfolio-rockets {
		display: none;
	}
}

@media screen and (max-width: 1020px) {

	.container {
		width: 100%;
		padding: 0 15px;
	}

	.block {
		min-height: 0;
	}

	header[role=banner], header[role=banner].fixed {
		padding: 12.5px;
		height: auto;
		min-height: 80px;

		.container {
			flex-flow: wrap-reverse;
		}
	}
	
	header[role=banner]:not(.fixed) {
		transition: background 0.4s ease;
	}
	header[role=banner]:not(.fixed).opened {
		background: rgba(255, 255, 255, 0.75);
	}

	.header-menu-burger {
		display: block;

		span {
			transition: all 0.3s ease;
		}
	}

	header[role=banner].opened .header-menu-burger {

		span:nth-child(2) {
			display: none;
		}
		span:first-child {
			transform: rotate(45deg) translate(0, 7px);
		}
		span:last-child {
			transform: rotate(-45deg) translate(0, -7px);
		}
	}

	.header-menu {
		display: none;
		width: 100%;
		margin: 15px 0 0;
		padding: 0;
		will-change: height, padding;
	}

	.header-menu li {
		display: block;
		margin: 5px 0;
		padding: 0;
	}

	.header-menu a {
		padding: 2px 0;
	}

	.header-menu a:hover {
		background: none;
	}

	// same bg
	.block-intro,
	.block-portfolio {
		background: url('../img/bg-intro-mobile.jpg') no-repeat center top;
		background-size: cover;
	}

	.block-intro {
		padding: 0 0 50px;
	}

	.intro-title {
		height: auto;
		padding: 15px 0 25px;
		background: $orange-color;
		border-radius: 30px;
	}

	.intro-subtitle {
		height: auto;
		margin-top: -20px;
		line-height: 40px;
		background: #fff;
		border-radius: 25px;
	}

	.intro-description {
		font-size: 22px;
		line-height: 26px;
	}
	
	.intro-cloud-text {
		width: 100%;
		height: 100%;
		padding: 10px 0;
		background: none;
		background-size: contain;
	}

	.intro-cloud-text.intro-cloud-text span {
		font-size: 28px;
		font-weight: normal;
		letter-spacing: 0;
		line-height: normal;
	}

	.intro-cloud-text-b, .intro-cloud-text2-b {
		
		&:after {
			content: none;
		}
	}

	.intro-cloud-text2-b strong {
		font-size: 27px;
	}

	.intro-cta-video {
		margin-top: 25px;
	}

	.intro-cta-video:after {
		content: none;
	}

	.intro-video {
		max-width: 510px;
		width: auto;
		margin-top: 10px;
	}

	.intro-video:after {
		content: none;
	}

	.intro-video-inner {
		max-width: 510px;
		width: auto;
		height: auto;
	}

	.intro-video-gradient,
	.intro-video-player {
		border-radius: 20px;
	}

	.intro-video-player {
		display: block;
		width: 100%;
		height: auto;
	}

	.intro-video-frame {
		position: static;
		display: block;
		width: 510px;
		height: auto;
		max-width: 100%;
	}

	.intro-cta {
		margin-top: 30px;
	}

	.intro-cta-title {
		font-size: 30px;
	}

	.intro-cta-subtitle {
		font-size: 22px;
		margin-top: 5px;
	}

	.intro-cta-btn {
		margin: 7px 0;
		padding: 10px;
		font-size: 22px;
		line-height: 1;
		border-radius: 45px;
	}

	.intro-cta-tooltip {
		line-height: 20px;
	}

	.modal-form.intro-form-b {
		
		.modal-labels-wrap, .modal-label.active {
			background: none;
		}

		.modal-label.active {
			border: none;
		}
	}

	// one background for some blocks 
	.block-advantages,
	.block-director,
	.block-clients,
	.block-team,
	.block-faq {
		background-color: #fff;
		background: url('../img/bg-team.jpg') repeat-y center top;
		background-size: 100% auto;
	}

	.block-advantages {
		margin-top: 0;
		padding: 50px 0;
	}

	// .advantages-bg-top {
	// 	display: none;
	// }

	.advantages-bottom-bg {
		display: none;
	}

	.advantages-title {
		font-size: 36px;
		padding-bottom: 70px;
	}


	.advantages-list-bottom, .advantages-list-top,
	.advantages-more-list {
		flex-flow: row wrap;
	}

	.advantages-list-bottom, .advantages-list-top,
	.advantages-list-bottom-right {
		margin-top: 30px;
	}

	.advantage-single {
		width: 100%;
		padding: 0;
	}

	.advantage-single:not(:last-child) {
		margin-bottom: 30px;
	}

	.advantage-single-desc {
		font-size: 26px;
		letter-spacing: calc(26px * 50 / 1000);
	}

	.advantage-single-desc a {
		position: static;
	}

	.advantages-list-bottom .advantage-single {
		margin-top: 0;
	}

	.advantages-list-bottom-castle {
		display: none;
	}

	.advantages-more {
		width: 100vw;
		margin-left: -15px;
		margin-top: 50px;
		padding: 20px 15px;
		background: url('../img/bg-advantages-more-mobile.jpg') no-repeat center top;
		background-size: cover;
	}

	.advantages-more-title {
		font-size: 32px;
		letter-spacing: calc(32px * 100 / 1000);
	}

	.advantages-more-title span {
		font-size: 28px;
		letter-spacing: calc(28px * 100 / 1000);
	}

	.advantages-more-list {
		padding-top: 0;
	}

	.advantage-more-single {
		width: 100%;
		margin-top: 30px;
	}

	.block-advantages3 {
		margin-top: 0;
		padding: 50px 0;
		background: url('../img/bg-advantages3-mobile.png') no-repeat center top;
		background-size: cover;
	}

	.advantages3-title {
		font-size: 36px;
	}
	
	// same bg
	.block-sale,
	.block-prices {
		background: url('../img/bg-prices-mobile.jpg') repeat-y center top;
	}

	.block-sale {
		padding: 50px 0 345px;
	}

	.sale-title {
		font-size: 36px;
		padding-bottom: 70px;
	}

	.sale-content {
		width: 100vw;
		margin-left: -15px;
		margin-top: 25px;
		padding: 25px 15px;
		transform: none;
		background: #F3EED8;
	}

	.sale-content-title, .sale-content-title span  {
		font-size: 32px;
		letter-spacing: calc(32px * 75 / 1000);
	}

	.sale-content-title strong {
		display: block;
		padding: 10px 0;
		font-size: 38px;
		border-radius: 55px;
	}

	form input[type="email"],
	form input[type="tel"],
	form input[type="text"],
	form textarea {
		max-width: 430px;
		width: 100%;
		padding-left: 45px;
		padding-top: 2px;
		font-size: 22px;
		letter-spacing: calc(22px * 50 / 1000);
	}

	form input[type="text"] {
 	   background: url(../img/icon-input-contact.png) no-repeat left 15px center #fff;
	}

	form input[type="tel"] {
 	   background: url(../img/icon-input-phone.png) no-repeat left 15px center #fff;
	}

	form button[type="submit"], form input[type="submit"] {
		max-width: 430px;
		width: 100%;
		height: 65px;
		margin-top: 20px;
		font-size: 24px;
		line-height: 65px;

		&:before, &:after {
			content: none;
		}
	}

	.sale-counter {
		bottom: 50px;
		padding: 0 15px;
	}

	.sale-counter-title {
		font-size: 34px;
		letter-spacing: 0;
	}

	.sale-counter-clock {
		margin: 25px auto;
	}

	.sale-counter-clock img {
		display: block;
		max-width: 100%;
	}

	.sale-counter-decor-1 {
		max-width: 350px;
		width: 90%;
	}

	.block-director {
		margin-top: 0;
		padding: 50px 0;
	}

	.director-title {
		font-size: 36px;
		padding-bottom: 70px;
	}

	.director-content {
		padding: 20px 0 0;
		background: none;
	}

	.director-content-photo {
		position: static;
		margin: 0 auto;
	}

	.director-content-photo img {
		transform: none;
	}

	.director-content-about {
		margin-top: 25px;
		padding: 0;
		text-align: center;
	}

	.director-content-about-speech {
		margin-left: 0;
	}

	.director-content-signature {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	.director-content-btn {
		display: block;
		margin-top: 25px;
		padding: 0;
		font-size: 22px;
		border-radius: 35px;
	}

	.block-portfolio {
		padding: 50px 0 100px;
		margin-top: 0;
	}

	.portfolio-title, .portfolio-title span {
		font-size: 36px;
		line-height: 1;
	}

	.portfolio-subtitle {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 28px;
		line-height: 30px;
	}

	.portfolio-slider {
		margin-top: 40px;
	}

	.portfolio-slide-single-photos {
		position: static;
		margin-top: 0;
	}

	.portfolio-slide-single-photos .intro-video-frame {
		display: none;
	}

	.portfolio-slide-single-photos,
	.portfolio-slide-single-photos .intro-video-inner {
		width: 100%;
		height: auto;
	}

	.portfolio-slide-single-photos-slider {
		height: auto;
	}

	.portfolio-slide-single-photos-slider img {
		display: block;
		max-width: 100%;
	}

	.photos-arrow-next, .photos-arrow-prev {
		top: 90px;
	}

	.photos-arrow-prev {
		left: 5px;
	}

	.photos-arrow-next {
		right: 5px;
	}

	.portfolio-slide-single-info {
		width: 100%;
		height: auto;
		margin-top: 0;
		padding: 15px;
		background: $light-blue-color;
		border: 1px dashed #fff;
		border-radius: 30px;
	}

	.portfolio-slide-single-info-text {
		font-size: 20px;
		line-height: 24px;
		letter-spacing: calc(20px * 50 / 1000);
	}

	.portfolio-arrow-prev.portfolio-arrow-prev,
	.portfolio-arrow-next.portfolio-arrow-next {
		bottom: -70px;
	}

	.portfolio-arrow-prev.portfolio-arrow-prev:before,
	.clients-arrow-prev.clients-arrow-prev:before {
		content: 'Назад';
	} 

	.portfolio-arrow-next.portfolio-arrow-next:after,
	.clients-arrow-next.clients-arrow-next:after  {
		content: 'Вперед';
	}

	.block-about {
		margin-top: 0;
		background: #fff;
	}

	.about-title {
		max-width: 100%;
		height: auto;
		padding: 10px 0;
		font-size: 36px;
		background: #fff;
	}

	.about-slider {
		height: auto;
		overflow: auto;
	}

	.about-slide-single.slick-center {
		width: 100vw !important;
	}

	.about-slide-single img {
		width: 100%;
		height: auto;
	}

	.block-clients {
		padding: 50px 0 100px;
	}

	.block-clients-b {
		background-image: url('../img/bg-clients-b-mobile.png');
		background-size: cover;
	}

	.clients-title {
		font-size: 36px;

		&:before,
		&:after {
			content: none;
		}
	}

	.clients-title-b span {
		padding: 0;
		color: $red-color;
		background: none;
	}

	.clients-slider {
		width: 100%;
		height: auto;
		padding: 20px 0 0;
		background: none;
	}

	.block-sale2 {
		margin-top: 0;
		padding: 50px 0;
	}

	// same background for blocks
	.block-sale2,
	.block-advantages2,
	.block-contacts {
		background: url('../img/bg-sale2-mobile.jpg') no-repeat center top;
		background-size: cover;
	}

	.sale2-title {
		padding-bottom: 70px;
		font-size: 36px;
	}

	.sale2-content {
		flex-flow: wrap;
		margin-top: 20px;
	}

	.sale2-content-cta, .sale2-content-text {
		width: 100%;
	}

	.sale2-content-cta-title {
		padding-top: 10px;
		font-size: 20px;
		line-height: normal;
	}

	.sale2-content-text {
		padding-top: 20px;
	}

	.sale2-content-text-offer strong {
		max-width: 570px;
		width: 100%;
		height: auto;
		margin: 10px 0;
		padding: 5px 0;
		background: #fff;
		border-radius: 40px;
	}

	.sale2-content-text-offer strong,
	.sale2-content-text-offer span {
		font-weight: normal;
		font-size: 30px;
		line-height: normal;
	}

	.sale2-content-text-terms {
		margin-top: 0;
	}

	.sale2-content-text-terms li {
		padding-top: 10px;
	}

	.sale2-content-text-terms li:after {
		margin-top: 10px;
	}

	.sale2-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0 0;

		&:before,
		&:after {
			content: none;
		}
	}

	.block-team {
		margin-top: 0;
		padding: 50px 0 160px;
	}

	.team-title {
		padding-bottom: 70px;
		font-size: 36px;
	}

	.team-arrow {
		bottom: -60px;
	}

	.team-files-title {
		width: 100%;
		height: auto;
		padding: 0;
		font-size: 36px;
		color: $orange-color;
		background: none;
	}

	.team-files-title:after {
		content: none;
	}

	.team-files-title strong {
		letter-spacing: 0;
	}

	.team-files-row-top, .team-files-row-bottom {
		flex-flow: wrap;
		justify-content: center;
	}

	.team-files-row-top {
		width: 100%;
		margin-top: -30px;
	}

	.team-files-row-bottom {
		padding: 0;
	}

	.team-file-single {
		margin-top: 90px;
	}

	.block-advantages2 {
		padding: 0 0 50px;
	}

	.advantages2-title {
		max-width: 791px;
		width: 100%;
		height: auto;
		padding-bottom: 5px;
		font-size: 36px;
		color: #fff;
		background: none;
	}

	.advantages2-list {
		flex-flow: wrap;
		justify-content: center;
		margin-top: 50px;
	}

	.advantages2-single {
		margin-top: 35px;
	}

	.block-faq {
		margin-top: 0;
		padding: 50px 0;
	}

	.faq-title {
		padding-bottom: 70px;
		font-size: 36px;
	}

	.faq-subtitle {
		display: block;
		margin-top: 5px;
		padding-left: 0;
	}

	.faq-subtitle span:last-child {
		padding-left: 4px;
	}

	.faq-list {
		margin-top: 30px;
	}

	.faq-single {
		padding: 10px;
	}

	.faq-single-question {
		flex-direction: column;
	}

	.faq-single-question-text {
		margin-bottom: 5px;
		font-size: 22px;	
	}

	.faq-single-answer {
		padding-left: 0;
		line-height: 24px;
	}

	.faq-btn {
		max-width: 350px;
		width: 100%;
		margin-top: 30px;
		font-size: 22px;

		&:before, &:after {
			content: none;
		}
	}

	.block-prices {
		margin-top: 0;
		padding: 50px 0;
	}

	.prices-title {
		width: 100%;
		height: auto;
		padding: 0;
		font-size: 36px;
		color: $orange-color;
		background: none;
	}

	.prices-list {
		flex-flow: wrap;
		margin-top: 30px;
	}

	.price-single {
		width: 100%;
		height: auto;
		padding-bottom: 20px;
	}

	.price-single:not(:last-child) {
		margin: 0 0 30px;
	}

	.price-single-info-list li {
		padding-left: 5px;
	}

	.block-contacts {
		padding: 50px 0;
		margin-top: 0;
	}

	.block-contacts .container {
		flex-flow: wrap;
	}

	.contacts-left,
	.contacts-map {
		width: 100%;
	}

	.contacts-title {
		height: auto;
		padding: 10px 0;
		font-size: 36px;
		background: #fff;
		border: 1px dashed $light-blue-color;
		border-radius: 55px;
	}

	.contacts-title:before {
		content: none;
	}

	.contacts-text {
		display: none;
	}

	.contacts-callback {
		margin-top: 25px;
		margin-right: auto;
	}

	.contacts-callback-btn {
		margin-top: 5px;
	}

	.contacts-callback-btn:after {
		content: none;
	}

	.contacts-list {
		margin-right: auto;
	}

	.contacts-map {
		margin-top: 10px;
	}

	.contacts-map-title {
		letter-spacing: 0;
	}

	.contacts-map-container {
		height: 290px;
		width: 290px;
		margin: 0 auto;
	}

	.contacts-map-container-title {
		bottom: -40px;
		padding-top: 20px;
		font-size: 20px;
	}

	.contacts-addresses-content  {
		margin-top: 10px;
	}

	.contacts-addresses-content span {
		display: block;
		margin-right: 0;
	}

	.contacts-addresses-content img {
		margin: 2.5px auto;
	}

	.contacts-addresses-social {
		margin-top: 15px;
	}

	// hide decor elements
	.intro-rocket-childs,
	.intro-clouds,
	.intro-blue-clouds,
	.portfolio-rockets,
	.prices-baloons {
		display: none;
	}

	// yandex map styling
	.ymaps-b-zoom_hints-pos_right {
		display: none;
	}

	// modal
	.modal-form {
		flex-direction: column;
	}

	.modal-label:nth-of-type(2),
	.modal-form input[type=submit] {
		margin-left: auto;
		margin-right: auto;
	}

	.modal-label {
		justify-content: center;
		margin-bottom: 15px;
		padding-left: 0;
	}

	.modal.team-modal, .modal.files-modal {
		width: 100%;
		height: auto;
		padding: 100px 15px 15px;
		background: #fff;
		border: 1px dashed $light-blue-color;
	}

	.modal-team-text br {
		display: none;
	}

	.modal-team-close {
		top: 15px;
	}

	.files-modal {
		border-color: $orange-color;
	}

	.modal-files-slider {
		width: 100%;
	}

	.files-arrow-prev {
		left: -10px;
	}
	.files-arrow-next {
		right: -10px;
	}
	
	.modal-form .wpcf7-not-valid-tip {
		left: 0;
		width: 100%;
		text-align: center;
	}

	.sale-content-form .wpcf7-not-valid-tip {
		left: 45px;
	}
}

@media screen and (max-width: 600px) {

	.header-callback-phone {
		padding-left: 0;
		background: none;
	}

	.header-callback-btn {
		margin-top: 3px;
	}

	.block-sale {
		padding-bottom: 50px;
	}

	.sale-counter {
		position: static;
		margin-top: 25px;
	}

	.sale-counter-clock {
		width: 260px;
		margin-top: 0;
		flex-direction: column;
		flex-flow: wrap;
	}

	.sale-counter-clock-part {
		margin-top: 20px;
	}
}

@media screen and (max-width: 450px) {
	
	.modal {
		padding: 0 15px;
	}

	.modal-close {
		top: 15px;
		right: 70px;
		height: 22px;
		background: none;

		&:hover {
			background: none;
		}
	}

	.modal-form, .modal-label {
		width: 100%;
	}

	.modal-form {
		margin-top: 25px;
	}

	.modal-label {
		height: auto;
		margin-bottom: 25px;
		border: none;
	}

	.thanks-sale-modal .thanks-modal-close {
		width: 100%;
	}

	.modal-form .wpcf7-response-output {
		font-size: 12px;
	}

	.modal-form .wpcf7-not-valid-tip {
		bottom: -12px;
	}
}

// fix modal form on iphone 4
@media screen and (max-height: 480px) {

	.modal-form .wpcf7-response-output {
		display: none !important;
	}

	.modal-close {
	    background: 0 0;
	    transform: rotate(90deg);
	    top: 65px;
	    right: -5px;
	    text-align: left;
	}
}