@font-face {
    font-family: 'AMavickRegular';
    src: url('../fonts/AMavickRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'BuxtonSketchRegular';
    src: url('../fonts/BuxtonSketchRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'IntroRegular';
    src: url('../fonts/IntroRegular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

$main-font: "AMavickRegular", cursive;
$add-font: "BuxtonSketchRegular", sans-serif;
$counter-font: "IntroRegular", sans-serif;