$red-color: #ff4000;
$orange-color: #ff6c00;
$light-orange-color: #fb9b18;
$blue-color: #02386e;
$light-blue-color: #14caf0;
$gold-color: #f6f1d1;
$light-gold-color: #f2eed6;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.slick-slide, input, textarea,
a, a:focus, a:active {
  outline: none;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  color: $blue-color;
  overflow-x: hidden;
}

// rockets 
.rocket {
  position: absolute;
  opacity: 0.8;
  will-change: transform;
}

.rocket-1 {
  top: 240px;
  right: -130px;
}

.rocket-2 {
  top: 236px;
  left: -170px;
}

.rocket-3 {
  top: 466px;
  left: 585px;
}

.rocket-4 {
  top: 410px;
  left: 150px;
}

// white clouds
.cloud {
  position: absolute;
}

.intro-clouds .cloud {
  transition: transform 0.6s ease;
  will-change: transform;
}

.cloud-1 {
  top: 350px;
  right: -175px;
  width: 110px;
}

.cloud-2 {
  top: 630px;
  right: 280px;
  width: 200px;
}

.cloud-3 {
  top: 650px;
  right: 90px;
  width: 205px;
}

.cloud-4 {
  top: 405px;
  left: -95px;
  width: 80px;
}

.cloud-5 {
  top: 445px;
  left: -170px;
  width: 75px;
}

.cloud-6 {
  top: 840px;
  left: -135px;
  width: 153px;
}

.cloud-7 {
  top: 935px;
  left: -295px;
  width: 205px;
}

.cloud-8 {
  top: 1140px;
  right: -70px;
  width: 102px;
}

.cloud-9 {
  top: 1192px;
  right: 4px;
  width: 152px;
}

.cloud-10 {
  top: 1287px;
  right: -77px;
  width: 130px;
}

// header
header[role=banner] {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 105px;
  z-index: 3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.header-menu {

  li {
    display: inline-block;
    padding: 0 5px;
    font-size: 22px;
    line-height: 1;
    letter-spacing: calc(22px * 50 / 1000);
  }

  li:first-child {
    padding-left: 0;
  }
  li:last-child {
    padding-right: 0;
  }
  li:nth-child(5) a {
    color: $orange-color;
  }

  a {
    display: block;
    padding: 2px 8px;
    border-radius: 15px;
    color: $blue-color;
    background: transparent;
    transition: background 0.4s ease,
                color 0.4s ease;

    &:hover {
      background-color: #fff;
    }
  }
}

.header-menu-burger {
  display: none;
  width: 32px;
  cursor: pointer;

  span {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: $blue-color;
  }

  span:not(:last-child) {
    margin-bottom: 5px;
  }
}

.header-callback {
  text-align: center;

  &-phone, &-btn {
    display: block;
  }

  &-phone {
    padding-left: 38px;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: calc(20px * 50 / 1000);
    color: $orange-color;
    background: url('../img/icon-phone-blue.png') no-repeat left center;
  }

  &-btn {
    margin-top: 8px;
    font-family: $add-font;
    font-size: 16px;
    line-height: 1;
    letter-spacing: calc(16px * 50 / 1000);
    color: $blue-color;
  }
}

// fixed header
header[role=banner].fixed {
  position: fixed;
  height: 80px;
  background: $light-blue-color;

  .header-menu li:nth-child(5) a,
  .header-callback-phone, .header-callback-btn {
    color: #fff;
  }

  .header-menu li:nth-child(5) a:hover {
    color: $orange-color;
  }
}

// intro
.block-intro {
  position: relative;
  min-height: 1730px;
  padding: 0;
  text-align: center;
  background: url('../img/bg-intro.png') no-repeat center top,;
  z-index: 2;

  .container {
    padding-top: 105px;
  }
}

.block-intro-b {
  min-height: 1480px;
  background-image: url('../img/bg-intro-b.png');
}

.intro-title {
  max-width: 791px;
  height: 165px;
  margin: 0 auto;
  padding-top: 55px;
  font-size: 60px;
  line-height: 48px;
  color: #fff;
  background: url('../img/bg-intro-title.png') no-repeat center top;
}

.intro-subtitle {
  max-width: 370px;
  height: 87px;
  margin: -43.5px auto 0;
  font-size: 36px;
  line-height: 87px;
  color: $orange-color;
  background: url('../img/bg-intro-subtitle.png') no-repeat center top;
}

.intro-subtitle-b {
  max-width: 478px;
  font-size: 30px;
  background-image: url('../img/bg-intro-subtitle-b.png');
}

.intro-description {
  margin: 20px 0 25px;
  font-size: 36px;
  line-height: 1;

  span {
    padding: 2px 10px;
    color: #fff;
    background: $light-orange-color;
    border-radius: 20px;
  }

  small {
    display: block;
    margin-top: 10px;
    font-family: $add-font;
    font-size: 30px;
    line-height: 1;
  }
}

.intro-description-b {
  margin-bottom: 5px;
}

.intro-cloud-text {
  position: relative;
  width: 602px;
  height: 282px;
  margin-left: -20px;
  padding: 95px 85px 90px 90px;
  background: url('../img/cloud-lightblue.png') no-repeat center center;
  
  span {
    display: block;
    font-weight: bold;

    &:nth-child(1) {
      font-size: 30.2px;
      line-height: 25.9px;
    }
    &:nth-child(2) {
      font-size: 25.9px;
      line-height: 27.6px;
      letter-spacing: 2.9785px;
    }
    &:nth-child(3) {
      font-size: 31.9px;
      line-height: 29px;
    }
  }
}

.intro-cloud-text-b {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;

  small {
    display: block;
    margin-top: 5px;
    font-family: $add-font;
    font-weight: normal;
    font-size: 27px;
    line-height: 1;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -53px;
    left: 183px;
    width: 68px;
    height: 113px;
    background: url('../img/arrow-intro-3-b.png') no-repeat center bottom;
    z-index: 1;
  }
}

.intro-cloud-text2-b {
  position: relative;
  width: 498px;
  height: 238px;
  margin-left: 85px;
  margin-top: 5px;
  padding: 65px 0 0;
  font-size: 27px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: calc(27px * 40 / 1000);
  background-size: 100% 100%;

  strong {
    display: inline-block;
    padding: 2px 10px;
    font-size: 34px;
    letter-spacing: calc(34px * 80 / 1000);
    color: #fff;
    background: $light-orange-color;
    border-radius: 25px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -22px;
    right: 14px;
    width: 42px;
    height: 90px;
    background: url('../img/arrow-intro-4-b.png') no-repeat right bottom;
  }
}

.intro-rocket-childs {
  position: absolute;
  right: -105px;
  top: 435px;
  z-index: 1;
}

.intro-rocket-childs-b {
  top: 480px;
}

.intro-cta-video {
  position: relative;
  max-width: 380px;
  margin: 15px 0 0 90px;
  font-family: $add-font;
  font-size: 24px;

  span {
    display: block;
    text-transform: uppercase;
  }

  &:after {
    content: '';
    position: absolute;
    left: 100px;
    bottom: -118px;
    width: 111px;
    height: 106px;
    background: url('../img/arrow-intro-1.png') no-repeat center;
  }
}

.intro-video {
  position: relative;
  width: 510px;
  margin: 55px auto 0;

  &:after {
    content: '';
    position: absolute;
    right: -40px;
    bottom: -30px;
    width: 43px;
    height: 103px;
    background: url('../img/arrow-intro-2.png') no-repeat center;
  }
}

.intro-video-inner {
  display: block;
  position: relative;
  width: 510px;
  height: 295px;
  overflow: hidden;
  cursor: pointer;
}

.intro-video-gradient,
.intro-video-frame,
.intro-video-btn {
  position: absolute;
}

.intro-video-gradient {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#26d0ce, #1a2980);
  background: -o-linear-gradient(#26d0ce, #1a2980);
  background: linear-gradient(#26d0ce, #1a2980);
  opacity: 0.8;
}
.intro-video:hover .intro-video-gradient {
  background: -webkit-linear-gradient(#1a2980, #26d0ce);
  background: -o-linear-gradient(#1a2980, #26d0ce);
  background: linear-gradient(#1a2980, #26d0ce);
}
.intro-video:hover .intro-video-btn {
  opacity: 0.7;
}

.intro-video-frame {
  top: 0;
  left: 0;
}

.intro-video-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.intro-cta {
  margin-top: 55px;
}

.intro-cta-title {
  font-weight: normal;
  font-size: 40px;
  line-height: 1;
  color: #fff;
}

.intro-cta-subtitle {
  font-size: 24px;
}

.intro-cta-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 0 40px;
  font-size: 24px;
  text-align: center;
  line-height: 65px;
  color: #fff;
  background: $orange-color;
  border: 7px solid #a8e0f6;
  border-radius: 40px;
  transition: background 0.3s ease;

  &:hover {
    background: $red-color;
  }
}

.intro-cta-tooltip {
  display: block;
  margin-top: 7px;
  font-family: $add-font;
  font-size: 22px;
  color: #fff;

  span {
    color: $blue-color;
  }
}

.intro-form-b-title {
  margin-top: 27px;
  font-family: $add-font;
  font-size: 18px;
  line-height: 1;
  letter-spacing: calc(18px * 50 / 1000);
}

.modal-form.intro-form-b {
  margin-top: 10px;
  
  .modal-labels-wrap {
    background: rgba(#fff, 0.5);
    border-radius: 45px;
  }

  .modal-label {
    background: transparent;
    border: 1px dashed transparent;

    &.active {
      background: rgba(#fff, 0.5);
      border-color: $light-blue-color;
    }
    &:first-child.active {
      position: relative;
      z-index: 1;
    }
  }

  input[type=text],
  input[type=tel] {
    background: none;
  }

  input[type=submit] {
    height: 64px;
    font-size: 24px;
    border: 7px solid rgba(255, 255, 255, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    &:hover {
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
    }
  }
}

.cloud-b {
  transform: translate(70px, -100px);
  opacity: 0.2;
}

.cloud-b.cloud-10 {
  display: none;
}

// blue clouds
.intro-blue-clouds {
  position: relative;
  top: -175px;
}

.cloud-blue {
  will-change: transform;
}
.cloud-blue-1 {
  top: -225px;
  left: -70px;
}

.cloud-blue-2 {
  top: -190px;
  left: 420px;
}

.cloud-blue-3 {
  top: -255px;
  right: 200px;
}

.cloud-blue-4 {
  top: -17px;
  left: 153px;
}

.cloud-blue-5 {
  top: -135px;
  left: 600px;
}

// advantages
.block-advantages {
  position: relative;
  min-height: 2450px;
  margin-top: -290px;
  padding-top: 465px;
  text-align: center;
  background: url('../img/bg-advantages.png') no-repeat center top;
  z-index: 2;
}

// .advantages-bg-top {
//   display: none;
//   position: absolute;
//   top: -270px;
//   left: 0;
//   width: 100%;
//   height: 270px;
//   background: url('../img/bg-intro-bottom.png') no-repeat center bottom;
// }

.advantages-bottom-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background: url('../img/bg-advantages-bottom.png') no-repeat center;
}


.block-advantages-b {
  min-height: 1545px;
  background: url('../img/bg-advantages-b.png') no-repeat center bottom;
}

.advantages-title {
  position: relative;
  padding-bottom: 85px;
  font-size: 40px;

  span {
    color: $red-color;
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 269px;
    height: 70px;
    transform: translateX(-50%);
    background: url('../img/decor-title.png') no-repeat center;
  }
}

.advantages-list-top,
.advantages-list-bottom {
  display: flex;
  justify-content: space-between;
}

.advantages-list-top-b {
  flex-flow: wrap;
  margin-top: 25px;
}

.advantages-list-top-b .advantage-single {
  margin-bottom: 45px;
}

.advantage-single {
  width: 270px;
}

.advantage-single-icon,
.advantage-single-title {
  display: block;
}

.advantage-single-icon {
  margin: 0 auto;
}

.advantage-single-title {
  margin: 10px 0 5px;
  font-weight: normal;
  font-size: 30px;
}

.advantage-single-desc {
  position: relative;
  display: flex;
  min-height: 130px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
  font-family: $add-font;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: calc(22px * 50 / 1000);
  background: url('../img/bg-advantage-desc.png') no-repeat top left;
  background-size: 100% 100%;

  a {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    color: $light-blue-color;
  }
}

.advantages-list-bottom {
  margin-top: 20px;

  .advantage-single {
    margin-top: 35px;
  }
}

.advantages-list-bottom-castle {
  margin-top: 5px;
}

.advantages-more {
  width: calc(100% + 70px);
  margin: -75px -35px 0;
  padding: 97px 35px 55px;
  color: #fff;
  background: url('../img/bg-advantages-more.png') no-repeat center top;
  background-size: 100% 100%;
}

.advantages-more-title {
  font-weight: normal;
  font-size: 52px;
  line-height: 1;
  letter-spacing: calc(52px * 100 / 1000);

  span {
    display: block;
    font-size: 40px;
    letter-spacing: calc(40px * 100 / 1000);
  }
}

.advantages-more-list {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.advantage-more-single {
  width: 370px;
}

.advantage-more-single-icon {
  display: flex;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  background: $orange-color;
  border-radius: 35px;

  img {
    margin: auto;
  }
}

.advantage-more-single-title {
  display: block;
  margin: 15px 0 10px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
}

.advantage-more-single-desc {
  font-family: $add-font;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: calc(24px * 94 / 1000);
}

// advantages 3 (advantages more for B version)
.block-advantages3 {
  min-height: 850px;
  margin-top: -30px;
  padding: 95px 0 0;
  text-align: center;
  color: $orange-color;
  background: url('../img/bg-advantages-more-b.png') no-repeat center top;
}

.advantages3-title {
  padding-top: 25px;
  font-size: 55px;
}

.advantages3-subtitle {
  max-width: 458px;
  height: 68px;
  margin-top: -34px;
  font-family: $add-font;
  font-size: 32px;
  line-height: 68px;
  letter-spacing: calc(32px * 50 / 1000);
  background-image: url('../img/bg-advantages3-subtitle-b.png');
}

.advantages3-list {
  padding-top: 60px;
}

.advantages3-list .advantage-more-single-icon {
  background: $red-color;
}

.advantages3-list .advantage-more-single-title {
  color: $red-color;
}

// sale
.block-sale {
  position: relative;
  min-height: 1444px;
  padding: 85px 0 0;
  text-align: center;
  color: $red-color;
  background: url('../img/bg-sale.jpg') no-repeat center top;
}

.sale-title {
  position: relative;
  font-size: 60px;
  line-height: 1;
  padding-bottom: 80px;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 269px;
    height: 70px;
    transform: translateX(-50%);
    background: url('../img/decor-title-red.png') no-repeat center;
  }
}

.sale-content {
  width: 720px;;
  margin: 80px auto 0;
  padding: 50px 40px 0;
  transform: translateX(-10px);
}

.sale-content-title {
  font-size: 60px;
  letter-spacing: calc(60px * 75 / 1000);

  strong, span, small {
    display: block;
  }

  span {
    font-size: 36px;
    letter-spacing: 0;
  }

  strong {
    margin-top: 8px;
    padding: 0 30px;
    font-weight: normal;
    font-size: 72px;
    letter-spacing: 0;
    background: #fff;
    border-radius: 40px;
  }

  small {
    margin-top: 8px;
    font-size: 24px;
    letter-spacing: calc(24px * 30 / 1000);
  }
}

// form
form {
  input[type=text],
  input[type=email],
  input[type=tel],
  textarea {
    display: block;
    width: 430px;
    height: 50px;
    margin: 0 auto 12px;
    padding-left: 85px;
    padding-right: 15px;
    font-family: $add-font;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: calc(30px * 50 / 1000);
    color: $red-color;
    background: #fff;
    border: none;
    border-radius: 25px;

    &::-webkit-input-placeholder { color: $red-color; opacity: 1; }
    &::-moz-placeholder          { color: $red-color; opacity: 1; }
    &:-ms-input-placeholder      { color: $red-color; opacity: 1; }
  }

  input[type=text] {
    background: url('../img/icon-input-contact.png') no-repeat left 22px center #fff;
  }

  input[type=tel] {
    background: url('../img/icon-input-phone.png') no-repeat left 22px center #fff;
  }

  input[type=submit],
  button[type=submit] {
    position: relative;
    display: block;
    width: 430px;
    height: 75px;
    margin: 26px auto 0;
    font-family: $main-font;
    font-size: 36px;
    line-height: 75px;
    letter-spacing: calc(36px * 55 / 1000);
    color: #fff;
    background: $red-color;
    border: none;
    border-radius: 35px;
    transition: background 0.3s ease;

    &:hover {
      background: $orange-color;
    }
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 80px;
      height: 3px;
      border: 1px solid $red-color;
      transform: translateY(-50%);
    }

    &:before {
      left: -100px;
    }

    &:after {
      right: -100px;
    }
  } 
}

.sale-content-form {
  margin-top: 35px;
}

.sale-counter {
  position: absolute;
  bottom: 126px;
  left: 0;
  width: 100%;
  text-align: center;
}

.sale-counter-title {
  font-size: 36px;
  line-height: 1;
  letter-spacing: calc(36px * 120 / 1000);

  span {
    display: block;
    font-size: 30px;
    letter-spacing: calc(30px * 40 / 1000);
  }
}

.sale-counter-clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  margin: 30px auto 35px;
  
  &-part, &-part-bg, &-part-content {
    width: 111px;
    height: 111px;
  }

  &-part {
    position: relative;
  }

  &-part-bg {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    border-radius: 50%;
  }

  &-part-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $counter-font;
    color: #616262;
    background: url('../img/bg-counter-part.png') no-repeat center;
    border-radius: 50%;
  }

  &-part-content-num {
    margin-top: -10px;
    font-size: 30px;
    line-height: 1;
    letter-spacing: calc(30px * 40 / 1000);
  }

  &-part-content-desc {
    font-size: 11px;
    line-height: 1;
  }
}

.sale-counter-decor-1,
.sale-counter-decor-2 {
  display: block;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background: $red-color;
  border-radius: 10px;
}

.sale-counter-decor-1 {
  width: 350px;
  opacity: 0.5;
}

.sale-counter-decor-2 {
  width: 190px;
  margin-top: 15px;
  opacity: 0.2;
}

// director
.block-director {
  position: relative;
  min-height: 1415px;
  margin-top: -43px;
  padding: 155px 0 0;
  text-align: center;
  background: url('../img/bg-director.png') no-repeat center top;
  z-index: 2;

  .container {
    display: flex;
    flex-direction: column;
  }
}

.director-title {
  position: relative;
  padding-bottom: 85px;
  font-size: 48px;
  line-height: 1;

  span {
    color: $red-color;
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 269px;
    height: 70px;
    transform: translateX(-50%);
    background: url('../img/decor-title.png') no-repeat center;
  }
}

.director-content {
  position: relative;
  width: 1050px;
  height: 680px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: -3px;
  background: url('../img/director-frame.png') no-repeat center top;
}

.director-content-photo {
  position: absolute;
  top: 155px;
  left: -135px;
  width: 270px;
  height: 270px;
  background: $light-blue-color;
  border-radius: 50%;

  img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    transform: translate(15px, 7px);
  }
}

.director-content-about {
  padding-top: 90px;
  padding-left: 180px;
  padding-right: 75px;
  text-align: left;

  &-name {
    font-size: 30px;
    line-height: 1;
    color: $red-color;
  }

  &-post {
    font-size: 22px;
    line-height: 30px;
  }

  &-speech {
    margin-top: 25px;
    font-family: $add-font;
    font-size: 27px;
    line-height: 32px;

    blockquote {
      margin: 0;
    }
  }
}

.director-content-signature {
  display: block;
  margin-left: auto;
  margin-right: 110px;
}

.director-content-btn {
  display: inline-block;
  position: absolute;
  bottom: 6px;
  left: 250px;
  height: 62px;
  padding: 0 30px;
  font-size: 30px;
  line-height: 62px;
  color: #fff;
  background: $red-color;
  border-radius: 30px;
  transition: background 0.3s ease;

  &:hover {
    background: $orange-color;
  }
}

// portfolio rockets
.portfolio-rocket-1 {
  top: 610px;
  right: -85px;
  opacity: 1;
}

.portfolio-rocket-2 {
  top: 653px;
  left: 110px;
  opacity: 0.5;
}

.portfolio-rocket-3 {
  top: 173px;
  right: 70px;
  opacity: 0.5;
  z-index: 1;
}

.portfolio-rocket-4 {
  top: -15px;
  left: 113px;
  opacity: 1;
}

// portfolio
.block-portfolio {
  position: relative;
  min-height: 1116px;
  margin-top: -270px;
  padding-top: 270px;
  text-align: center;
  background: url('../img/bg-portfolio.png') no-repeat center top; 
  z-index: 2;
}

.portfolio-title {
  padding-top: 32px;
  font-size: 60px;

  span {
    display: block;
    font-size: 40px;
  }
}

.portfolio-subtitle {
  position: relative;
  max-width: 671px;
  height: 68px;
  margin-top: -30px;
  font-family: $add-font;
  font-size: 30px;
  line-height: 68px;
  background-image: url('../img/bg-portfolio-subtitle.png');

  &:after {
    content: '';
    position: absolute;
    left: -65px;
    bottom: -87px;
    width: 51px;
    height: 131px;
    background: url('../img/portfolio-arrow-1.png') no-repeat center;
  }
}

.portfolio-slider {
  margin-top: 70px;
}

.portfolio-slide-single {
  position: relative;

  &-photos {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -147.5px 0 0;

    &:after {
      content: none;
    }
  }

  &-photos-slider {
    height: 295px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
    height: 340px;
    margin-left: auto;
    padding-left: 200px;
    padding-right: 50px;
    text-align: left;
    color: #fff;
    background: url('../img/bg-event.png') no-repeat center;
    background-size: 100% 100%;
  }

  &-info-title {
    font-size: 24px;
  }

  &-info-subtitle {
    font-family: $add-font;
    font-size: 20px;
    letter-spacing: calc(20px * 25 / 1000);
  }

  &-info-text {
    margin-top: 3px;
    font-family: $add-font;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: calc(18px * 25 / 1000);
  }
}

.photos-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/portfolio-arrow-photo-prev.png') no-repeat center center;
  transition: opacity 0.3s ease;
  cursor: pointer;
  z-index: 1;

  &:hover {
    opacity: 0.7;
  }
}

.photos-arrow-prev {
  left: 0;
}
.photos-arrow-next {
  right: -10px;
  transform: translateY(-50%) scale(-1, 1);
}

.portfolio-arrow-prev.portfolio-arrow-prev,
.portfolio-arrow-next.portfolio-arrow-next {
  bottom: -78px;
}

.portfolio-arrow-prev.portfolio-arrow-prev {

  &:before {
    font-size: 16px;
    content: 'Предыдущее мероприятие';
  }
}

.portfolio-arrow-next.portfolio-arrow-next {

  &:after {
    font-size: 16px;
    content: 'Следующее мероприятие';
    transform: translateX(-55px) scale(-1, 1);
  }
}

// about photos
.block-about {
  position: relative;
  margin-top: -102px;
  text-align: center;
  z-index: 2;
}

.about-title {
  max-width: 791px;
  height: 102px;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 60px;
  line-height: 1;
  color: $light-blue-color;
  background: url('../img/bg-about-title.png') no-repeat center;
}

.about-slider {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.about-slider-blind-left,
.about-slider-blind-right {
  position: absolute;
  top: 0;
  width: calc((100vw - 932px) / 2);
  height: 100%;
  z-index: 1;
}

.about-slider-blind-left {
  left: 0;
  background: url('../img/bg-about-left.png') no-repeat center top;
  background-size: 100% 100%;
}

.about-slider-blind-right {
  right: 0;
  background: url('../img/bg-about-right.png') no-repeat center top;
  background-size: 100% 100%;
}

.about-slide-single {
  overflow: hidden;

  img {
    width: 970px;
    height: auto;
    max-width: none;
    margin: 0 auto;
  }
}

.about-slide-single.slick-center {
  width: 970px !important;
}

.about-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background: url('../img/about-arrow-prev.png') no-repeat center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 2;

  &:hover {
    opacity: 0.7;
  }
}

.about-arrow-prev {
  transform: translate(-545px, -50%);
}

.about-arrow-next {
  transform: translate(485px, -50%) scale(-1, 1);
}

// clients (testimonials)
.block-clients {
  min-height: 1160px;
  padding: 80px 0 10px;
  text-align: center;
  background: url('../img/bg-clients.jpg') no-repeat center top;
}

.block-clients-b {
  position: relative;
  min-height: 1081px;
  color: #fff;
  background-image: url('../img/bg-clients-b.png');
  z-index: 1;
}

.clients-title {
  position: relative;
  font-size: 45px;
  line-height: 38px;

  span {
    color: $red-color;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -120px;
    width: 79px;
    height: 96px;
    background: url('../img/clients-arrow.png') no-repeat center;
  }

  &:before {
    transform: translateX(-217px);
  }

  &:after {
    transform: translate(138px, -2px) scale(-1, 1);
  }
}

.clients-title-b {
  line-height: normal;

  span {
    padding: 0 10px;
    color: #fff;
    background: $orange-color;
    border-radius: 25px;
  }

  &:after,
  &:before {
    background-image: url('../img/clients-arrow-b.png');
  }
}

.clients-photos-slider {
  width: 182px;
  height: 182px;
  margin: 25px auto 0;

  img {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.clients-slider {
  width: 962px;
  height: 553px;
  margin: -10px auto 0;
  padding: 120px 95px 150px;
  background: url('../img/clients-frame.png') no-repeat center;
}

.clients-slider-b {
  background-image: url('../img/clients-frame-b.png');
}

.clients-slider-b .clients-slide-single-name {
  display: inline-block;
  padding: 4px 10px;
  background: $orange-color;
  border: 1px dashed #fff;
  border-radius: 25px;
}

.clients-slider-b .clients-arrow {
  background-image: url('../img/portfolio-arrow-prev-b.png');
}

.clients-slide-single {

  &-name {
    font-size: 27px;
    line-height: 1;
  }

  &-text {
    margin-top: 15px;
    font-family: $add-font;
    font-size: 22px;
  }
}

.clients-arrow {
  position: absolute;
  left: 50%;
  bottom: -48px;
  width: 41px;
  height: 41px;
  font-family: $add-font;
  font-size: 16px;
  background: url('../img/portfolio-arrow-prev.png') no-repeat center;
  cursor: pointer; 
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  &:before,
  &:after {
    position: absolute;
    line-height: 41px;
    white-space: nowrap;
  }
}

.clients-arrow-prev {
  transform: translateX(-56px);

  &:before {
    content: 'Предыдущий отзыв';
    left: -10px;
    transform: translateX(-100%);
  }
}

.clients-arrow-next {
  transform: translateX(15px) scale(-1, 1);

  &:after {
    content: 'Следующий отзыв';
    right: 0;
    transform: translateX(-50px) scale(-1, 1);
  }
}

// sale 2
.block-sale2 {
  position: relative;
  min-height: 1003px;
  margin-top: -80px;
  padding: 150px 0 0;
  text-align: center;
  color: #fff;
  background: url('../img/bg-sale2.png') no-repeat center top;
  z-index: 2;
}

.sale2-title {
  position: relative;
  padding-bottom: 85px;
  font-size: 48px;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 269px;
    height: 70px;
    transform: translateX(-50%);
    background: url('../img/decor-title-white.png') no-repeat center;
  }
}

.sale2-content {
  display: flex;
  justify-content: space-between;
  margin-top: -25px;

  &-cta {
    width: 550px;
  }

  &-cta-img {
     margin-left: -10px;
  }

  &-cta-title {
    position: relative;
    max-width: 538px;
    height: 107px;
    margin-top: -107px;
    margin-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 28.9px;
    line-height: 26px;
    color: $red-color;
    background: url('../img/bg-sale2-cta.png') no-repeat center center;

    small {
      display: block;
      font-family: $add-font;
      font-weight: normal;
      font-size: 18px;
      line-height: 1;
      color: $orange-color;
    }
  }

  &-text {
    width: 570px;
    padding-top: 10px;
  }

  &-text-offer {
    font-size: 33px;
    letter-spacing: calc(33px * 40 / 1000);

    strong {
      display: block;
      width: 570px;
      height: 118px;
      padding-top: 20px;
      font-weight: normal;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 0;
      color: $light-blue-color;
      background: url('../img/bg-sale2-offer.png') no-repeat center;
    }

    span {
      display: block;
      font-weight: bold;
      font-size: 50px;
    }
  }

  &-text-terms {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;

    li {
      padding-top: 25px;
      font-size: 24px;

      &:after {
        content: '';
        display: block;
        width: 200px;
        height: 1px;
        margin: 25px auto 0;
        border-bottom: 1px dashed #fff;
      }

      &:last-child:after {
        content: none;
      }
    }

    strong {
      padding: 0 10px;
      font-weight: normal;
      color: $red-color;
      background: #fff;
      border-radius: 15px;
    }

    small {
      display: block;
      margin-top: 7px;
      font-family: $add-font;
      font-size: 24px;
      line-height: 1;
      letter-spacing: calc(24px * 80 / 1000);
    }
  }
}

.sale2-btn {
  position: relative;
  height: 72px;
  margin-top: 35px;
  line-height: 58px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 123px;
    height: 96px;
    background: url('../img/sale2-arrow.png') no-repeat center;
  }

  &:before {
    left: -150px;
  }

  &:after {
    right: -150px;
    transform: scale(-1, 1);
  }
}

// team
.block-team {
  min-height: 1852px;
  margin-top: -40px;
  padding: 95px 0 0;
  text-align: center;
  background: url('../img/bg-team.jpg') no-repeat center top;
}

.team-title {
  position: relative;
  padding-bottom: 80px;
  font-size: 45px;

  span {
    display: block;
    color: $orange-color;
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 269px;
    height: 70px;
    transform: translateX(-50%);
    background: url('../img/decor-title-orange.png') no-repeat center;
  }
}

.team-slider {
  margin-top: 25px;
}

.team-slide-single {
  width: 370px;
  padding: 0 15px;

  &-photo {
    position: relative;
    width: 256px;
    height: 256px;
    margin: 0 auto;
    border-radius: 50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border: 6px solid #fff;
      border-radius: 50%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 221px;
      height: 217px;
      transform: translate(-50%, -50%);
      background: url('../img/bg-team-photo.png') no-repeat center;
    }
  }

  &-info {
    width: 100%;
    height: 203px;
    margin-top: -55px;
    padding-top: 60px;
    background: url('../img/bg-team-info.png') no-repeat center;
    background-size: 100% 100%;
  }

  &-info-name {
    margin: 0 0 7.5px;
    font-size: 28px;
  }

  &-info-line {
    margin: 5px 0;
    font-family: $add-font;
    font-size: 30px;
    line-height: 24px;
    color: $light-blue-color;
  }

  &-info-btn {
    display: inline-block;
    margin: 7.5px 0 0;
    font-family: $add-font;
    font-size: 20px;
    line-height: 1;
    letter-spacing: calc(20px * 25 / 1000);
    color: $blue-color;
    border-bottom: 1px dashed $blue-color;
    transition: border 0.3s ease;

    &:hover {
      border-color: transparent;
    }
  }
}

.team-arrow {
  bottom: -90px;

  &:before,
  &:after {
    font-size: 20px;
    letter-spacing: (20px * 200 / 1000);
  }
}

.team-arrow-prev {

  &:before {
    content: 'Назад';
  }
}

.team-arrow-next {

  &:after {
    content: 'Далее';
    transform: translateX(-55px) scale(-1, 1);
  }
}

.team-files {
  margin-top: 120px;
  color: #fff;

  &-title {
    position: relative;
    display: flex;
    width: 523px;
    height: 523px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background: url('../img/bg-files-title.png') no-repeat center;

    small, strong {
      display: block;
    }

    span, small, strong {
      position: relative;
      z-index: 1;
    }

    small {
      font-family: $add-font;
      font-size: 22px;
      letter-spacing: calc(22px * 200 / 1000);
    }

    strong {
      font-weight: normal;
      font-size: 30px;
      letter-spacing: calc(30px * 75 / 1000);
    }

    &:after {
      content: '';
      position: absolute;
      top: 105px;
      left: 50%;
      width: 983px;
      height: 170px;
      transform: translateX(-50%);
      background: url('../img/decor-files-lines.png') no-repeat center;
    }
  }

  &-row {
    display: flex;
    justify-content: space-between;
  }

  &-row-top {
    width: 846px;
    margin: -180px auto 0;
  }

  &-row-bottom {
    margin-top: 10px;
  }
}

.team-file-single {
  position: relative;
  width: 191px;
  height: 191px;
  transform: rotate(45deg);
  overflow: hidden;

  &-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #fff;
    background: rgba($orange-color, 0.8);
    cursor: pointer;
    z-index: 1;
  }

  &-info-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
  }

  &-info-title,
  &-info-subtitle {
    font-family: $add-font;
    letter-spacing: calc(22px * 75 / 1000);
  }

  &-info-title {
    font-weight: normal;
    font-size: 24px;
  }

  &-info-subtitle {
    font-size: 20px;
  }

  &-img {
    position: absolute;
    top: 0; left: -40px; right: 0; bottom: 0;
    margin: auto;
    transform: rotate(-45deg);
  }

  &:hover .team-file-single-info {
    opacity: 1;
  }
}

// advantages 2
.block-advantages2 {
  position: relative;
  min-height: 733px;
  margin-top: -70px;
  text-align: center;
  background: url('../img/bg-advantages2.png') no-repeat center top;
}

.advantages2-title {
  position: relative;
  width: 791px;
  height: 126px;
  margin: 0 auto;
  padding: 20px 0 0;
  font-size: 48px;
  color: $orange-color;
  background: url('../img/bg-advantages2-title.png') no-repeat center;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -58px;
    width: 269px;
    height: 70px;
    transform: translateX(-50%);
    background: url('../img/decor-title-white.png') no-repeat center;
  }
}

.advantages2-list {
  display: flex;
  justify-content: space-between;
  margin-top: 105px;
}

.advantages2-single {
  width: 270px;

  &-number {
    display: block;
    height: 270px;
    font-size: 133px;
    line-height: 270px;
    font-weight: bold;
    color: $orange-color;
    text-stroke: 7px #fff;
    -webkit-text-stroke: 7px #fff;
    background: url('../img/decor-advantages2-number.png') no-repeat center;
  }

  &-desc {
    margin-top: 10px;
    font-family: $add-font;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
  }
}

// webkit fix for text-stroke
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .advantages2-single-number {
    -webkit-text-stroke: 1px #fff;
  }
}

// FAQ
.block-faq {
  margin-top: -45px;
  padding: 110px 0 195px;
  text-align: center;
  background: url('../img/bg-faq.jpg') no-repeat center top;
  background-size: cover;
}

.faq-title {
  position: relative;
  padding-bottom: 70px;
  font-size: 40px;

  span {
    display: block;
    color: $orange-color;
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 269px;
    height: 70px;
    transform: translateX(-50%);
    background: url('../img/decor-title-orange.png') no-repeat center;
  }
}

.faq-subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
  padding-left: 130px;
  padding-right: 40px;
  font-family: $add-font;
  font-size: 30px;
  color: $orange-color;
}

.faq-list {
  margin-top: 45px;
}

.faq-single {
  margin-top: 20px;
  padding: 15px 70px;
  font-family: $add-font;
  background: #fff;
  border-radius: 40px;
  cursor: pointer;  

  &-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-question-text {
    font-size: 26px;
  }

  &-question-switcher {
    position: relative;
    padding-left: 27px;
    font-size: 16px;
    letter-spacing: calc(16px * 50 / 1000);

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 11px;
      transform: translateY(-50%);
      background: url('../img/faq-arrow.png') no-repeat center;
    }
  }

  &-answer {
    display: none;
    max-width: 800px;
    margin-top: 20px;
    padding-left: 30px;
    font-size: 20px;
    line-height: 22px;
    text-align: left;

    span {
      font-size: 24px;
      color: $orange-color;
    }

    a {
      color: $orange-color;
    }
  }
} 

.faq-single.opened .faq-single-question-switcher {

  &:before {
    transform: translateY(-50%) scale(1, -1);
  }
}

.faq-btn {
  position: relative;
  display: block;
  width: 350px;
  height: 50px;
  margin: 65px auto 0;
  font-family: $main-font;
  font-size: 27px;
  line-height: 50px;
  color: #fff;
  background: $orange-color;
  border: none;
  border-radius: 35px;
  transition: background 0.3s ease;
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 80px;
    height: 3px;
    border: 1px solid $red-color;
    transform: translateY(-50%);
    transition: border 0.3s ease;
  }

  &:before {
    left: -100px;
  }

  &:after {
    right: -100px;
  }

  &:hover {
    background: $red-color;
  }

  &:hover:before,
  &:hover:after {
    border-color: $red-color;
  }
}

// baloons
.baloon {
  position: absolute;
}

.baloon-1 {
  top: -105px;
  left: -140px;
}

.baloon-2 {
  top: 75px;
  right: -70px;
}

// prices
.block-prices {
  min-height: 1110px;
  margin-top: -85px;
  padding: 65px 0 0;
  text-align: center;
  background: url('../img/bg-prices.png') no-repeat center top;
}

.prices-title {
  max-width: 791px;
  height: 147px;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 48px;
  color: #fff;
  background: url('../img/bg-prices-title.png') no-repeat center;

  span {
    display: block;
    font-size: 36px;
  }
}

.prices-list {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 20px);
  margin: 70px -10px 0;
}

.price-single {
  width: 385px;
  height: 610px;
  padding: 14px 10px 0;
  background: $gold-color;

  &-sum {
    display: block;
    height: 128px;
    padding-top: 25px;
    font-weight: normal;
    font-size: 60px;
    color: $orange-color;
    background: #fff;
    border: 2px solid $light-gold-color;

    &:after {
      content: '₽';
      margin-left: 10px;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 50px;
    }
  }

  &-title {
    position: relative;
    max-width: 304px;
    height: 74px;
    margin: -30px auto 0;
    line-height: 74px;
    font-size: 30px;
    background: #fff;
    border: 2px solid $gold-color;
    border-radius: 22px;
  }

  &-info {
    margin-top: -30px;
    padding: 0 18px;
  }

  &-info-inner {
    padding: 45px 0 0;
    background: #fff;
    border: 2px solid $light-gold-color;
  }

  &-info-list {
    margin: 0;
    padding: 0 0 55px;
    list-style: none;
    text-align: left;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      padding-left: 30px;
      font-family: $add-font;
      font-size: 24px;
    }
    li:last-child {
      align-items: flex-start;
      margin-bottom: 0;
    }

    small {
      display: block;
      font-size: 20px;
      line-height: 1;
    }
  }

  &-info-highlight {

    .price-single-info-list {
      padding-bottom: 0;
    }

    li:last-child {
      margin-top: -10px;
      padding-top: 10px;
      padding-bottom: 55px;
      color: #fff;
      background: $orange-color;
    }

    .price-single-info-btn {
      height: 52px;
      max-width: 274px;
      margin-top: -29.5px;
      line-height: 42px;
      border-top: 7px solid #ff5a00;
      box-shadow: none;
    }
  }

  &-info-icon {
    width: 36px;
    height: 34px;
  }

  &-info-desc {
    padding-left: 20px;
  }

  &-info-btn {
    display: block;
    max-width: 260px;
    height: 45px;
    margin: -22.5px auto 0;
    font-size: 24px;
    line-height: 45px;
    color: #fff;
    background: $orange-color;
    border-radius: 25px;
    box-shadow: 7px 0 0 rgba(255, 255, 255, 0.7), -7px 0 0 rgba(255, 255, 255, 0.7), 0 7px 0 rgba(255, 255, 255, 0.7), 0 -7px 0 rgba(255, 255, 255, 0.7);
    transition: background 0.3s ease;

    &:hover {
      background: $red-color;
    }
  }

  &-individual {
    height: 475px;
  }

  &-individual &-title {
    padding-top: 12px;
    font-size: 24px;
    line-height: normal;
  }

  &-individual &-info-inner {
    padding: 60px 0 40px;
    font-family: $add-font;
    font-size: 24px;

    p {
      margin-bottom: 20px;
    }
  }

  &-individual &-info-icon {
    margin: 0 10px;
  }
}

// contacts
.block-contacts {
  min-height: 833px;
  margin-top: -82px;
  padding: 150px 0 0;
  background: url('../img/bg-contacts.png') no-repeat center top;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.contacts-left {
  width: 505px;
}

.contacts-title {
  position: relative;
  max-width: 504px;
  height: 118px;
  padding-top: 17px;
  padding-right: 70px;
  font-size: 40px;
  font-weight: bold;
  color: $red-color;
  text-align: center;
  background: url('../img/bg-contacts-title-2.png') no-repeat center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc((100vw - 1170px) / 2);
    height: 100%;
    transform: translateX(-100%);
    background: url('../img/bg-contacts-title-1.png') repeat-x left center;
  }

  &:after {
    content: '';
    position: absolute;
    top: 60px;
    right: -141px;
    width: 127px;
    height: 79px;
    background: url('../img/contacts-arrow-1.png') no-repeat center;
  }
}

.contacts-list {
  width: 234px;
  height: 150px;
  margin-top: -5px;
  margin-right: 5px;
  margin-left: auto;
  padding: 15px 0 0 15px;
  text-align: left;
  background: url('../img/bg-contacts-cloud.png') no-repeat center;

  a {
    display: inline-block;
    color: $red-color;
  }
}

.contacts-phone {
  margin-top: 5px;
  padding-left: 35px;
  font-size: 24px;
  background: url('../img/icon-phone.png') no-repeat left center;
}

.contacts-phone-small {
  padding-left: 30px;
  font-size: 22px;
  background-size: 18px 18px;
}

.contacts-phone-big {
  margin-left: 25px;
  margin-top: 15px;
}

.contacts-email.contacts-email {
  margin-bottom: 10px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  background: url('../img/icon-email.png') no-repeat left 2px center;
}

.contacts-text {
  display: block;
  margin-left: 95px;
  margin-top: -40px;
  font-size: 24px;
  letter-spacing: calc(24px * 40 / 1000);
  color: #fff;
}

.contacts-callback {
  max-width: 275px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: -18px;
  text-align: center;
  color: #fff;

  &-text {
    font-family: $add-font;
    font-size: 22px;
    line-height: 24px;
  }

  &-btn {
    position: relative;
    display: block;
    height: 59px;
    margin: 15px auto 0;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    background: $red-color;
    border: 7px solid #BDE7EF;
    border-radius: 32px;
    transition: background 0.3s ease;

    &:hover {
      background: $orange-color;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -110px;
      right: -41px;
      width: 80px;
      height: 71px;
      background: url('../img/contacts-arrow-2.png') no-repeat center;
    }
  }
}

.contacts-map {
  width: 535px;
  margin-right: 10px;
  padding-top: 15px;
  text-align: center;

  &-title {
    font-size: 33px;
    color: #fff;
    letter-spacing: calc(33px * 40 / 1000);
  }

  &-container {
    position: relative;
    width: 527px;
    height: 527px;
    margin-top: 12px;
    border: 13px solid #BDE7EF;
    border-radius: 50%;

    img {
      display: block;
      width: 100%;
      border-radius: 50%;
    }
  }

  &-container-title {
    position: absolute;
    bottom: -5px;
    left: -10px;
    width: 538px;
    height: 107px;
    padding-top: 12px;
    font-size: 30px;
    font-weight: bold;
    color: $red-color;
    background: url('../img/bg-sale2-cta.png') no-repeat center;
    z-index: 1;
  }
}

.contacts-addresses {
  max-width: 348px;
  margin-top: 35px;
  margin-left: 40px;
  text-align: center;
  color: #fff;

  &-title {
    font-size: 24px;
    line-height: 1;

    small {
      display: block;
      font-family: $add-font;
      font-size: 20px;
      letter-spacing: calc(20px * 50 / 1000);
    }
  }

  &-content {
    margin-top: 10px;
    white-space: nowrap;

    span, img {
      display: inline-block;
      margin-right: -4px;
      vertical-align: middle;
    }

    span {
      font-family: $add-font;
      font-size: 24px;
      line-height: 1;
      letter-spacing: calc(24px * 50 / 1000);
    }

    img {
      margin: 0 10px;
    }
  }

  &-social {
    margin-top: 10px;

    a {
      display: inline-block;
      margin: 0 10px;
      vertical-align: middle;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

// yandex map styling
.ymaps-b-zoom_hints-pos_right {
  top: 158px !important;
  left: 25px !important;
}

.ymaps-map {
  border-radius: 50%;
}

// mfp styling
.form-modal.mfp-bg {
  background: url('../img/bg-popup.png') no-repeat center top 50px #fff;
  border: 1px dashed $light-blue-color;
  opacity: 1;
}
.form-modal.white-bg {
  background: #fff;
}
.form-modal.no-bg {
  background: transparent;
}

// modal forms
.modal {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.modal-close {
  position: fixed;
  top: 5vh;
  right: 10vh;
  width: 45px;
  height: 70px;
  background: url('../img/icon-close.png') no-repeat center top;
  text-align: center;
  cursor: pointer;

  &:after {
    content: 'Закрыть окно';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: $add-font;
    font-size: 22px;
    letter-spacing: calc(22px * 50 / 1000);
    line-height: 1;
    white-space: nowrap;
    color: $orange-color;
  }
}

.modal-close:hover {
  background-image: url('../img/icon-close-hover.png');
  background-size: 45px 45px;

  &:after {
    content: 'А если подумать?';
  }
}

.modal-title {
  font-weight: normal;
  font-size: 40px;
  letter-spacing: calc(40px * 50 / 1000);
}

.modal-subtitle {
  margin-top: 2px;
  font-size: 33px;

  span {
    color: $orange-color;
  }

  small {
    display: block;
    margin-top: 15px;
    font-size: 30px;
  }

  strong {
    display: block;
    font-weight: normal;
    font-size: 60px;
    color: $orange-color;
  }
}

.modal-form {
  display: inline-flex;
  align-items: center;
  margin-top: 55px;

  input[type=text],
  input[type=tel] {
    display: inline-block;
    width: 100%;
    max-width: 260px;
    height: auto;
    margin: 0;
    padding: 0 5px 2px;
    font-size: 24px;
    line-height: normal;
    letter-spacing: calc(22px * 50 / 1000);
    border: none;
    color: $blue-color;
    background: #fff;
    border-bottom: 1px solid $blue-color;
    border-radius: 0;

    &::-webkit-input-placeholder { color: $blue-color; }
    &::-moz-placeholder          { color: $blue-color; }
    &:-ms-input-placeholder      { color: $blue-color; }
  }

  input[type=submit] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 50px;
    margin-top: 0;
    margin-left: -70px;
    font-size: 27px;
    line-height: normal;
    letter-spacing: calc(27px * 50 / 1000);
    background: $orange-color;

    &:hover {
      background: $red-color;
    }
  }
}

.modal-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 430px;
  height: 85px;
  padding-left: 30px;
  background: #fff;
  border: 1px dashed $light-blue-color;
  border-radius: 45px;

  &:nth-of-type(2) {
    margin-left: -100px;
  }
}

.thanks-modal, .menu-modal {

  .modal-close, .modal-close:hover {
    background: none;
  }

  .modal-close {
    height: 22px;
  }

  .modal-close:hover:after {
    content: 'Закрыть окно';
  }
}

// menu modal
.menu-modal {
  background: #fff;

  img {
    display: block;
    max-width: 100%;
    margin: 25px auto 0;
  }
}

// thanks modal
.thanks-modal-addresses {
  margin-top: 12.5px;
  font-size: 40px;
  line-height: 1;
  letter-spacing: calc(40px * 50 / 1000);
  color: $orange-color;

  small {
    display: block;
    font-family: $add-font;
    font-size: 30px;
    letter-spacing: 0;
    color: $blue-color;
  }
}

.thanks-modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 50px;
  margin: 35px auto 0;
  font-size: 27px;
  line-height: 1;
  letter-spacing: calc(27px * 50 / 1000);
  color: #fff;
  background: $orange-color;
  border-radius: 30px;
  transition: background 0.4s ease;
  cursor: pointer;

  &:hover {
    background: $red-color;
  }
}

.thanks-sale-modal .thanks-modal-close {
  width: 300px;
  height: 55px;
  font-size: 48px;
  letter-spacing: calc(48px * 50 / 1000);
}

.thanks-modal-coupon {
  margin-top: 15px;
  font-family: $add-font;
  font-size: 33px;

  strong {
    display: block;
    font-family: $main-font;
    font-weight: normal;
    font-size: 36px;
    color: $orange-color;
  }
}

.thanks-modal-phone {
  display: block;
  margin-top: 30px;
  margin-bottom: -30px;
  font-family: $add-font;
  font-size: 30px;
  line-height: 1;
}

// team modal
.team-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 773px;
  height: 773px;
  padding: 100px 90px;
  background: url('../img/bg-team-popup.png') no-repeat center;
}

.modal-team-close {
  position: absolute;
  top: 65px;
  left: 50%;
  width: 49px;
  height: 67px;
  transform: translateX(-50%);
  background: url('../img/icon-close-team.png') no-repeat center top;
  cursor: pointer;

  &:after {
    content: 'Закрыть';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: $add-font;
    font-size: 18px;
    line-height: 1;
    letter-spacing: calc(18px * 50 / 1000);
    color: $orange-color;
  }
}

.modal-team-title {
  font-weight: normal;
  font-size: 30px;
}

.modal-team-text {
  margin-top: 10px;
  font-family: $add-font;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: calc(22px * 50 / 1000);
  color: $light-blue-color;
}

// files modal
.files-modal {
  text-align: center;
  width: 948px;
  height: 948px;
  padding: 220px 90px;
  background: url('../img/bg-files-popup.png') no-repeat center;
}

.modal-files-slider {
  width: 370px;
  margin: 0 auto;
}
.modal-files-slider .slick-track {
  display: flex;
  align-items: center;
}

.files-arrow {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
  background: url('../img/files-arrow-prev.png') no-repeat center;
  transition: opacity 0.3s ease;
  z-index: 2;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.files-arrow-prev {
  left: -200px;
}

.files-arrow-next {
  right: -200px;
  transform: translateY(-50%) scale(-1, 1);
}

// wpcf7 styling
.sale-content-form .wpcf7-form-control-wrap {
  position: relative;
  display: inline-block;
}

.wpcf7[role=form] > div:first-of-type,
.sale-content-form .wpcf7-response-output,
.wpcf7-mail-sent-ok {
  display: none !important;
}

.modal-form .wpcf7-response-output {
  position: fixed;
  left: 0; bottom: 10px;
  width: 100%;
  padding: 0 12px;
  text-align: center;
}

.wpcf7-validation-errors,
.wpcf7-not-valid-tip {
  color: tomato;
}

.wpcf7-not-valid-tip {
  position: absolute;
  font-size: 12px;
  bottom: 5px;
}

.modal-form .wpcf7-not-valid-tip {
  left: 35px;
}

.sale-content-form .wpcf7-not-valid-tip {
  left: 85px;
}